In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import StandardScaler

In [2]:
train_bureau = pd.read_excel('C:/Users/user/Downloads/Analytic Vidya Hackthon/Train/Train/train_bureau.xlsx')
train_bureau.head()

,ID,SELF-INDICATOR,MATCH-TYPE,ACCT-TYPE,CONTRIBUTOR-TYPE,DATE-REPORTED,OWNERSHIP-IND,ACCOUNT-STATUS,DISBURSED-DT,CLOSE-DT,...,INSTALLMENT-FREQUENCY,OVERDUE-AMT,WRITE-OFF-AMT,ASSET_CLASS,REPORTED DATE - HIST,DPD - HIST,CUR BAL - HIST,AMT OVERDUE - HIST,AMT PAID - HIST,TENURE
0,1,False,PRIMARY,Overdraft,NAB,2018-04-30,Individual,Delinquent,2015-10-05,NaN,...,NaN,"37,873",0.0,Standard,"20180430,20180331,",030000,"37873,12820,","37873,,",",,",NaN
1,1,False,PRIMARY,Auto Loan (Personal),NAB,2019-12-31,Individual,Active,2018-03-19,NaN,...,F03,NaN,0.0,Standard,"20191231,20191130,20191031,20190930,20190831,2...",0000000000000000000000000000000000000000000000...,"20797,21988,23174,24341,25504,26648,27780,2891...",",,,,,,,,,,,,,,,,,,,,1452,,",",,,,,,,,,,,,,,,,,,,,,,",36.0
2,1,True,PRIMARY,Tractor Loan,NBF,2020-01-31,Individual,Active,2019-08-30,NaN,...,NaN,0,0.0,NaN,"20200131,20191231,20191130,20191031,20190930,2...",000000000000000000,"116087,116087,145000,145000,145000,145000,","0,0,0,0,0,0,",",,,,,,",NaN
3,1,True,PRIMARY,Auto Loan (Personal),NBF,2017-09-30,Individual,Closed,2013-09-27,2017-09-21 00:00:00,...,NaN,0,0.0,NaN,"20170930,20170801,20170731,20170630,20170531,2...",000DDD0270260270260270240270270000320000000000...,"0,,15925,23754,31494,39147,46713,54194,61590,6...","0,,1014,1014,1014,1014,1014,1014,1014,983,0,92...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",NaN
4,1,True,PRIMARY,Tractor Loan,NBF,2016-02-29,Individual,Closed,2012-02-10,2016-02-01 00:00:00,...,NaN,0,0.0,NaN,"20160229,20160131,20151231,20151130,20151031,2...",0000000000000000000000000000000000000000000000...,"0,0,23658,23321,22989,46321,45662,45012,68030,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",NaN

In [3]:
train_data = pd.read_excel('C:/Users/user/Downloads/Analytic Vidya Hackthon/Train/Train/train_Data.xlsx')
train_data.head()

,ID,Frequency,InstlmentMode,LoanStatus,PaymentMode,BranchID,Area,Tenure,AssetCost,AmountFinance,...,ManufacturerID,SupplierID,LTV,SEX,AGE,MonthlyIncome,City,State,ZiPCODE,Top-up Month
0,1,Monthly,Arrear,Closed,PDC_E,1,NaN,48,450000,275000.0,...,1568,21946,61.11,M,49.0,35833.33,RAISEN,MADHYA PRADESH,464993.0,> 48 Months
1,2,Monthly,Advance,Closed,PDC,333,BHOPAL,47,485000,350000.0,...,1062,34802,70.00,M,23.0,666.67,SEHORE,MADHYA PRADESH,466001.0,No Top-up Service
2,3,Quatrly,Arrear,Active,Direct Debit,1,NaN,68,690000,519728.0,...,1060,127335,69.77,M,39.0,45257.00,BHOPAL,MADHYA PRADESH,462030.0,12-18 Months
3,7,Monthly,Advance,Closed,Billed,125,GUNA,48,480000,400000.0,...,1060,25094,80.92,M,24.0,20833.33,ASHOK NAGAR,MADHYA PRADESH,473335.0,> 48 Months
4,8,Monthly,Arrear,Closed,Billed,152,BILASPUR,44,619265,440000.0,...,1046,21853,71.05,M,56.0,27313.67,BILASPUR,CHATTISGARH,495442.0,36-48 Months

In [4]:
test_bureau = pd.read_excel('C:/Users/user/Downloads/Analytic Vidya Hackthon/Test/test_bureau.xlsx')
test_bureau.head()

,ID,SELF-INDICATOR,MATCH-TYPE,ACCT-TYPE,CONTRIBUTOR-TYPE,DATE-REPORTED,OWNERSHIP-IND,ACCOUNT-STATUS,DISBURSED-DT,CLOSE-DT,...,INSTALLMENT-FREQUENCY,OVERDUE-AMT,WRITE-OFF-AMT,ASSET_CLASS,REPORTED DATE - HIST,DPD - HIST,CUR BAL - HIST,AMT OVERDUE - HIST,AMT PAID - HIST,TENURE
0,4,False,PRIMARY,Credit Card,CCC,2019-11-17,Individual,Active,2019-09-26,NaN,...,NaN,0,0.0,NaN,"20191117,",000,"589,","0,","0,",NaN
1,4,False,PRIMARY,Housing Loan,HFC,2019-10-31,Joint,Active,2017-06-21,NaN,...,F03,0,0.0,NaN,"20191031,20190930,20190831,20190731,20190630,2...",0000000000000000000000000000000000000000000000...,"2107227,2122196,2136877,2151448,2165910,218026...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,",120.0
2,4,False,PRIMARY,Property Loan,HFC,2019-10-31,Joint,Active,2017-06-27,NaN,...,F03,0,0.0,NaN,"20191031,20190930,20190831,20190731,20190630,2...",0000000000000000000000000000000000000000000000...,"83458,84051,84632,85209,85781,86349,86913,8747...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,",120.0
3,4,True,PRIMARY,Tractor Loan,NBF,2015-10-31,Individual,Closed,2011-12-29,2015-10-13 00:00:00,...,NaN,0,0.0,NaN,"20151031,20150901,20150831,20150731,20150630,2...",000DDD0270000000000000000000000000000000000000...,"0,,21548,32097,42500,52758,62874,72850,82688,9...","0,,11000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",NaN
4,5,False,PRIMARY,Gold Loan,PRB,2017-08-31,Individual,Closed,2016-05-04,2017-06-15 00:00:00,...,NaN,0,0.0,NaN,"20170630,20170501,20170401,20170331,20170201,2...",000DDDDDD000DDDDDD000DDDDDD000DDDDDD000,"0,,,25846,,,25846,,,25846,,,25846,","0,,,0,,,0,,,0,,,0",",,,,,,,,,,,,,,",NaN

In [5]:
test_data = pd.read_excel('C:/Users/user/Downloads/Analytic Vidya Hackthon/Test/test_data.xlsx')
test_data.head()

,ID,Frequency,InstlmentMode,LoanStatus,PaymentMode,BranchID,Area,Tenure,AssetCost,AmountFinance,...,AssetID,ManufacturerID,SupplierID,LTV,SEX,AGE,MonthlyIncome,City,State,ZiPCODE
0,4,Monthly,Advance,Closed,PDC_E,2,GUNA,46,480000,365000.0,...,3524747,1046.0,22354,75.83,M,50.0,32069.00,GUNA,MADHYA PRADESH,473001.0
1,5,Monthly,Advance,Closed,PDC,2,GUNA,45,480000,285000.0,...,4985862,1046.0,22354,57.44,M,35.0,25000.00,GUNA,MADHYA PRADESH,473001.0
2,6,Quatrly,Arrear,Closed,PDC,2,GUNA,48,580000,400000.0,...,12881783,1060.0,65929,68.97,M,37.0,23333.33,GUNA,MADHYA PRADESH,473001.0
3,25,Half Yearly,Arrear,Closed,Billed,154,NaN,36,725000,500000.0,...,10613776,1049.0,68597,61.79,M,55.0,91666.67,MAHASAMUND,CHATTISGARH,493558.0
4,119,Quatrly,Arrear,Closed,PDC,194,CUTTACK,48,617000,400000.0,...,7911110,1049.0,38493,59.09,M,48.0,12500.00,JAGATSINGHAPUR,ORISSA,754137.0

In [6]:
sample_sumbission = pd.read_csv("C:/Users/user/Downloads/Analytic Vidya Hackthon/sample_submission_ejm25Dc.csv")
sample_sumbission.head(10)

    ID       Top-up Month
0    4       36-48 Months
1    5       18-24 Months
2    6       30-36 Months
3   25       30-36 Months
4  119       30-36 Months
5  126       24-30 Months
6  127        > 48 Months
7  345  No Top-up Service
8  361       36-48 Months
9  393       30-36 Months

In [7]:
train_bureau.shape, train_data.shape

((560844, 25), (128655, 26))

In [8]:
test_bureau.shape, test_data.shape

((64019, 25), (14745, 25))

In [9]:
train_data.columns

Index(['ID', 'Frequency', 'InstlmentMode', 'LoanStatus', 'PaymentMode',
       'BranchID', 'Area', 'Tenure', 'AssetCost', 'AmountFinance',
       'DisbursalAmount', 'EMI', 'DisbursalDate', 'MaturityDAte', 'AuthDate',
       'AssetID', 'ManufacturerID', 'SupplierID', 'LTV', 'SEX', 'AGE',
       'MonthlyIncome', 'City', 'State', 'ZiPCODE', 'Top-up Month'],
      dtype='object')

In [10]:
train_bureau.columns

Index(['ID', 'SELF-INDICATOR', 'MATCH-TYPE', 'ACCT-TYPE', 'CONTRIBUTOR-TYPE',
       'DATE-REPORTED', 'OWNERSHIP-IND', 'ACCOUNT-STATUS', 'DISBURSED-DT',
       'CLOSE-DT', 'LAST-PAYMENT-DATE', 'CREDIT-LIMIT/SANC AMT',
       'DISBURSED-AMT/HIGH CREDIT', 'INSTALLMENT-AMT', 'CURRENT-BAL',
       'INSTALLMENT-FREQUENCY', 'OVERDUE-AMT', 'WRITE-OFF-AMT', 'ASSET_CLASS',
       'REPORTED DATE - HIST', 'DPD - HIST', 'CUR BAL - HIST',
       'AMT OVERDUE - HIST', 'AMT PAID - HIST', 'TENURE'],
      dtype='object')

In [11]:
train_data['ID1'] = train_bureau['ID']
train_data['SELF-INDICATOR'] = train_bureau['SELF-INDICATOR']
train_data['MATCH-TYPE'] = train_bureau['MATCH-TYPE']
train_data['ACCT-TYPE'] = train_bureau['ACCT-TYPE']
train_data['CONTRIBUTOR-TYPE'] = train_bureau['CONTRIBUTOR-TYPE']
train_data['DATE-REPORTED'] = train_bureau['DATE-REPORTED']
train_data['OWNERSHIP-IND'] = train_bureau['OWNERSHIP-IND']
train_data['ACCOUNT-STATUS'] = train_bureau['ACCOUNT-STATUS']
train_data['DISBURSED-DT'] = train_bureau['DISBURSED-DT']
train_data['CLOSE-DT'] = train_bureau['CLOSE-DT']
train_data['LAST-PAYMENT-DATE'] = train_bureau['LAST-PAYMENT-DATE']
train_data['CREDIT-LIMIT/SANC AMT'] = train_bureau['CREDIT-LIMIT/SANC AMT']
train_data['DISBURSED-AMT/HIGH CREDIT'] = train_bureau['DISBURSED-AMT/HIGH CREDIT']
train_data['INSTALLMENT-AMT'] = train_bureau['INSTALLMENT-AMT']
train_data['CURRENT-BAL'] = train_bureau['CURRENT-BAL']
train_data['INSTALLMENT-FREQUENCY'] = train_bureau['INSTALLMENT-FREQUENCY']
train_data['OVERDUE-AMT'] = train_bureau['OVERDUE-AMT']
train_data['WRITE-OFF-AMT'] = train_bureau['WRITE-OFF-AMT']
train_data['ASSET_CLASS'] = train_bureau['ASSET_CLASS']
train_data['REPORTED DATE - HIST'] = train_bureau['REPORTED DATE - HIST']
train_data['DPD - HIST'] = train_bureau['DPD - HIST']
train_data['CUR BAL - HIST'] = train_bureau['CUR BAL - HIST']
train_data['AMT OVERDUE - HIST'] = train_bureau['AMT OVERDUE - HIST']
train_data['AMT PAID - HIST'] = train_bureau['AMT PAID - HIST']
train_data['TENURE'] = train_bureau['TENURE']

In [12]:
train_data.shape

(128655, 51)

In [13]:
test_data.columns

Index(['ID', 'Frequency', 'InstlmentMode', 'LoanStatus', 'PaymentMode',
       'BranchID', 'Area', 'Tenure', 'AssetCost', 'AmountFinance',
       'DisbursalAmount', 'EMI', 'DisbursalDate', 'MaturityDAte', 'AuthDate',
       'AssetID', 'ManufacturerID', 'SupplierID', 'LTV', 'SEX', 'AGE',
       'MonthlyIncome', 'City', 'State', 'ZiPCODE'],
      dtype='object')

In [14]:
test_bureau.columns

Index(['ID', 'SELF-INDICATOR', 'MATCH-TYPE', 'ACCT-TYPE', 'CONTRIBUTOR-TYPE',
       'DATE-REPORTED', 'OWNERSHIP-IND', 'ACCOUNT-STATUS', 'DISBURSED-DT',
       'CLOSE-DT', 'LAST-PAYMENT-DATE', 'CREDIT-LIMIT/SANC AMT',
       'DISBURSED-AMT/HIGH CREDIT', 'INSTALLMENT-AMT', 'CURRENT-BAL',
       'INSTALLMENT-FREQUENCY', 'OVERDUE-AMT', 'WRITE-OFF-AMT', 'ASSET_CLASS',
       'REPORTED DATE - HIST', 'DPD - HIST', 'CUR BAL - HIST',
       'AMT OVERDUE - HIST', 'AMT PAID - HIST', 'TENURE'],
      dtype='object')

In [15]:
test_data['ID1'] = test_bureau['ID']
test_data['SELF-INDICATOR'] = test_bureau['SELF-INDICATOR']
test_data['MATCH-TYPE'] = test_bureau['MATCH-TYPE']
test_data['ACCT-TYPE'] = test_bureau['ACCT-TYPE']
test_data['CONTRIBUTOR-TYPE'] = test_bureau['CONTRIBUTOR-TYPE']
test_data['DATE-REPORTED'] = test_bureau['DATE-REPORTED']
test_data['OWNERSHIP-IND'] = test_bureau['OWNERSHIP-IND']
test_data['ACCOUNT-STATUS'] = test_bureau['ACCOUNT-STATUS']
test_data['DISBURSED-DT'] = test_bureau['DISBURSED-DT']
test_data['CLOSE-DT'] = test_bureau['CLOSE-DT']
test_data['LAST-PAYMENT-DATE'] = test_bureau['LAST-PAYMENT-DATE']
test_data['CREDIT-LIMIT/SANC AMT'] = test_bureau['CREDIT-LIMIT/SANC AMT']
test_data['DISBURSED-AMT/HIGH CREDIT'] = test_bureau['DISBURSED-AMT/HIGH CREDIT']
test_data['INSTALLMENT-AMT'] = test_bureau['INSTALLMENT-AMT']
test_data['CURRENT-BAL'] = test_bureau['CURRENT-BAL']
test_data['INSTALLMENT-FREQUENCY'] = test_bureau['INSTALLMENT-FREQUENCY']
test_data['OVERDUE-AMT'] = test_bureau['OVERDUE-AMT']
test_data['WRITE-OFF-AMT'] = test_bureau['WRITE-OFF-AMT']
test_data['ASSET_CLASS'] = test_bureau['ASSET_CLASS']
test_data['REPORTED DATE - HIST'] = test_bureau['REPORTED DATE - HIST']
test_data['DPD - HIST'] = test_bureau['DPD - HIST']
test_data['CUR BAL - HIST'] = test_bureau['CUR BAL - HIST']
test_data['AMT OVERDUE - HIST'] = test_bureau['AMT OVERDUE - HIST']
test_data['AMT PAID - HIST'] = test_bureau['AMT PAID - HIST']
test_data['TENURE'] = test_bureau['TENURE']

In [16]:
test_data.shape, train_data.shape

((14745, 50), (128655, 51))

In [17]:
test_data['Top-up Month']=np.nan
train_data['data']='train'
test_data['data']='test'
test_data=test_data[train_data.columns]
l_all=pd.concat([train_data,test_data],axis=0)

In [18]:
l_all.shape

(143400, 52)

In [ ]:
l_all.drop(['City','ID','CLOSE-DT'],axis=1,inplace=True)

In [19]:
pd.set_option('display.max_columns', 100)
l_all.head()

,ID,Frequency,InstlmentMode,LoanStatus,PaymentMode,BranchID,Area,Tenure,AssetCost,AmountFinance,DisbursalAmount,EMI,DisbursalDate,MaturityDAte,AuthDate,AssetID,ManufacturerID,SupplierID,LTV,SEX,AGE,MonthlyIncome,City,State,ZiPCODE,Top-up Month,ID1,SELF-INDICATOR,MATCH-TYPE,ACCT-TYPE,CONTRIBUTOR-TYPE,DATE-REPORTED,OWNERSHIP-IND,ACCOUNT-STATUS,DISBURSED-DT,CLOSE-DT,LAST-PAYMENT-DATE,CREDIT-LIMIT/SANC AMT,DISBURSED-AMT/HIGH CREDIT,INSTALLMENT-AMT,CURRENT-BAL,INSTALLMENT-FREQUENCY,OVERDUE-AMT,WRITE-OFF-AMT,ASSET_CLASS,REPORTED DATE - HIST,DPD - HIST,CUR BAL - HIST,AMT OVERDUE - HIST,AMT PAID - HIST,TENURE,data
0,1,Monthly,Arrear,Closed,PDC_E,1,NaN,48,450000,275000.0,275000.0,24000.0,2012-02-10,2016-01-15,2012-02-10,4022465,1568.0,21946,61.11,M,49.0,35833.33,RAISEN,MADHYA PRADESH,464993.0,> 48 Months,1,False,PRIMARY,Overdraft,NAB,2018-04-30,Individual,Delinquent,2015-10-05,NaN,2018-02-27,NaN,"37,352",NaN,"37,873",NaN,"37,873",0.0,Standard,"20180430,20180331,",030000,"37873,12820,","37873,,",",,",NaN,train
1,2,Monthly,Advance,Closed,PDC,333,BHOPAL,47,485000,350000.0,350000.0,10500.0,2012-03-31,2016-02-15,2012-03-31,4681175,1062.0,34802,70.00,M,23.0,666.67,SEHORE,MADHYA PRADESH,466001.0,No Top-up Service,1,False,PRIMARY,Auto Loan (Personal),NAB,2019-12-31,Individual,Active,2018-03-19,NaN,2019-12-19,NaN,"44,000","1,405/Monthly","20,797",F03,NaN,0.0,Standard,"20191231,20191130,20191031,20190930,20190831,2...",0000000000000000000000000000000000000000000000...,"20797,21988,23174,24341,25504,26648,27780,2891...",",,,,,,,,,,,,,,,,,,,,1452,,",",,,,,,,,,,,,,,,,,,,,,,",36.0,train
2,3,Quatrly,Arrear,Active,Direct Debit,1,NaN,68,690000,519728.0,519728.0,38300.0,2017-06-17,2023-02-10,2017-06-17,25328146,1060.0,127335,69.77,M,39.0,45257.00,BHOPAL,MADHYA PRADESH,462030.0,12-18 Months,1,True,PRIMARY,Tractor Loan,NBF,2020-01-31,Individual,Active,2019-08-30,NaN,NaT,NaN,"1,45,000",NaN,"1,16,087",NaN,0,0.0,NaN,"20200131,20191231,20191130,20191031,20190930,2...",000000000000000000,"116087,116087,145000,145000,145000,145000,","0,0,0,0,0,0,",",,,,,,",NaN,train
3,7,Monthly,Advance,Closed,Billed,125,GUNA,48,480000,400000.0,400000.0,11600.0,2013-11-29,2017-11-10,2013-11-29,13021591,1060.0,25094,80.92,M,24.0,20833.33,ASHOK NAGAR,MADHYA PRADESH,473335.0,> 48 Months,1,True,PRIMARY,Auto Loan (Personal),NBF,2017-09-30,Individual,Closed,2013-09-27,2017-09-21 00:00:00,NaT,NaN,"3,00,000",NaN,0,NaN,0,0.0,NaN,"20170930,20170801,20170731,20170630,20170531,2...",000DDD0270260270260270240270270000320000000000...,"0,,15925,23754,31494,39147,46713,54194,61590,6...","0,,1014,1014,1014,1014,1014,1014,1014,983,0,92...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",NaN,train
4,8,Monthly,Arrear,Closed,Billed,152,BILASPUR,44,619265,440000.0,440000.0,15000.0,2011-12-08,2015-07-05,2011-12-08,3291320,1046.0,21853,71.05,M,56.0,27313.67,BILASPUR,CHATTISGARH,495442.0,36-48 Months,1,True,PRIMARY,Tractor Loan,NBF,2016-02-29,Individual,Closed,2012-02-10,2016-02-01 00:00:00,NaT,NaN,"2,75,000",NaN,0,NaN,0,0.0,NaN,"20160229,20160131,20151231,20151130,20151031,2...",0000000000000000000000000000000000000000000000...,"0,0,23658,23321,22989,46321,45662,45012,68030,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",NaN,train

In [20]:
pd.set_option('display.max_rows', 100)

l_all.dtypes

ID                                    int64
Frequency                            object
InstlmentMode                        object
LoanStatus                           object
PaymentMode                          object
BranchID                              int64
Area                                 object
Tenure                                int64
AssetCost                             int64
AmountFinance                       float64
DisbursalAmount                     float64
EMI                                 float64
DisbursalDate                datetime64[ns]
MaturityDAte                 datetime64[ns]
AuthDate                     datetime64[ns]
AssetID                               int64
ManufacturerID                      float64
SupplierID                            int64
LTV                                 float64
SEX                                  object
AGE                                 float64
MonthlyIncome                       float64
City                                 object
State                                object
ZiPCODE                             float64
Top-up Month                         object
ID1                                   int64
SELF-INDICATOR                         bool
MATCH-TYPE                           object
ACCT-TYPE                            object
CONTRIBUTOR-TYPE                     object
DATE-REPORTED                datetime64[ns]
OWNERSHIP-IND                        object
ACCOUNT-STATUS                       object
DISBURSED-DT                 datetime64[ns]
CLOSE-DT                             object
LAST-PAYMENT-DATE            datetime64[ns]
CREDIT-LIMIT/SANC AMT                object
DISBURSED-AMT/HIGH CREDIT            object
INSTALLMENT-AMT                      object
CURRENT-BAL                          object
INSTALLMENT-FREQUENCY                object
OVERDUE-AMT                          object
WRITE-OFF-AMT                       float64
ASSET_CLASS                          object
REPORTED DATE - HIST                 object
DPD - HIST                           object
CUR BAL - HIST                       object
AMT OVERDUE - HIST                   object
AMT PAID - HIST                      object
TENURE                              float64
data                                 object
dtype: object

In [21]:
l_all.shape

(143400, 52)

In [22]:
l_all.isna().sum()[0:10]

ID                   0
Frequency            0
InstlmentMode        0
LoanStatus           0
PaymentMode          0
BranchID             0
Area             12199
Tenure               0
AssetCost            0
AmountFinance        0
dtype: int64

In [23]:
# l_all['Area'].nunique()
l_all.drop(['Area'],axis=1,inplace=True)

In [24]:
l_all.isna().sum()[9:20]

DisbursalAmount     0
EMI                 0
DisbursalDate       0
MaturityDAte        1
AuthDate            0
AssetID             0
ManufacturerID      2
SupplierID          0
LTV                 0
SEX                64
AGE                66
dtype: int64

In [25]:
l_all['MaturityDAte'] = l_all['MaturityDAte'].fillna(l_all['MaturityDAte'].mode()[0])
l_all['ManufacturerID'] = l_all['ManufacturerID'].fillna(l_all['ManufacturerID'].mean())
l_all['SEX'] = l_all['SEX'].fillna(l_all['SEX'].mode()[0])
l_all['AGE'] = l_all['AGE'].fillna(l_all['AGE'].mean())
l_all['MaturityDAte']=pd.to_numeric(l_all['MaturityDAte'],errors='coerce')
l_all['DisbursalDate']=pd.to_numeric(l_all['DisbursalDate'],errors='coerce')

In [26]:
l_all.isna().sum()[19:30]

AGE                     0
MonthlyIncome         248
City                11256
State                   0
ZiPCODE               373
Top-up Month        14745
ID1                     0
SELF-INDICATOR          0
MATCH-TYPE              0
ACCT-TYPE               0
CONTRIBUTOR-TYPE        0
dtype: int64

In [27]:
l_all['MonthlyIncome'] = l_all['MonthlyIncome'].fillna(l_all['MonthlyIncome'].mean())
l_all.drop(['City'],axis=1,inplace=True)
l_all['ZiPCODE'] = l_all['ZiPCODE'].fillna(l_all['ZiPCODE'].mean())
l_all['DATE-REPORTED'] = l_all['DATE-REPORTED'].fillna(l_all['DATE-REPORTED'].mode()[0])
l_all['DATE-REPORTED']=pd.to_numeric(l_all['DATE-REPORTED'],errors='coerce')

In [28]:
l_all.isna().sum()[29:40]

DATE-REPORTED                     0
OWNERSHIP-IND                     0
ACCOUNT-STATUS                    0
DISBURSED-DT                   5658
CLOSE-DT                      57732
LAST-PAYMENT-DATE             76822
CREDIT-LIMIT/SANC AMT        139673
DISBURSED-AMT/HIGH CREDIT        29
INSTALLMENT-AMT              105806
CURRENT-BAL                      92
INSTALLMENT-FREQUENCY        106865
dtype: int64

In [29]:
l_all['DISBURSED-DT'] = l_all['DISBURSED-DT'].fillna(l_all['DISBURSED-DT'].mode()[0])
l_all['DISBURSED-DT']=pd.to_numeric(l_all['DISBURSED-DT'],errors='coerce')
l_all.drop(['CLOSE-DT'],axis=1,inplace=True)
l_all['LAST-PAYMENT-DATE'] = l_all['LAST-PAYMENT-DATE'].fillna(l_all['LAST-PAYMENT-DATE'].mode()[0])
l_all['DISBURSED-DT']=pd.to_numeric(l_all['DISBURSED-DT'],errors='coerce')
l_all['CREDIT-LIMIT/SANC AMT']=pd.to_numeric(l_all['CREDIT-LIMIT/SANC AMT'],errors='coerce')
l_all['CREDIT-LIMIT/SANC AMT'] = l_all['CREDIT-LIMIT/SANC AMT'].fillna(l_all['CREDIT-LIMIT/SANC AMT'].mean())
l_all['DISBURSED-AMT/HIGH CREDIT']=pd.to_numeric(l_all['DISBURSED-AMT/HIGH CREDIT'],errors='coerce')
l_all['DISBURSED-AMT/HIGH CREDIT'] = l_all['DISBURSED-AMT/HIGH CREDIT'].fillna(l_all['DISBURSED-AMT/HIGH CREDIT'].mean())
l_all['INSTALLMENT-AMT'] = l_all['INSTALLMENT-AMT'].fillna(l_all['INSTALLMENT-AMT'].mode()[0])
l_all['CURRENT-BAL']=pd.to_numeric(l_all['CURRENT-BAL'],errors='coerce')
l_all['CURRENT-BAL'] = l_all['CURRENT-BAL'].fillna(l_all['CURRENT-BAL'].mean())
l_all['INSTALLMENT-FREQUENCY'] = l_all['INSTALLMENT-FREQUENCY'].fillna(l_all['INSTALLMENT-FREQUENCY'].mode()[0])

In [30]:
l_all.isna().sum()[39:60]

OVERDUE-AMT             31921
WRITE-OFF-AMT            4768
ASSET_CLASS             75946
REPORTED DATE - HIST     4768
DPD - HIST               4768
CUR BAL - HIST           4768
AMT OVERDUE - HIST       4768
AMT PAID - HIST          5012
TENURE                  92603
data                        0
dtype: int64

In [31]:
l_all['OVERDUE-AMT']=pd.to_numeric(l_all['OVERDUE-AMT'],errors='coerce')
l_all['OVERDUE-AMT'] = l_all['OVERDUE-AMT'].fillna(l_all['OVERDUE-AMT'].mean())
l_all['WRITE-OFF-AMT'] = l_all['WRITE-OFF-AMT'].fillna(l_all['WRITE-OFF-AMT'].mean())
l_all['ASSET_CLASS'] = l_all['ASSET_CLASS'].fillna(l_all['ASSET_CLASS'].mode()[0])
l_all.drop(['REPORTED DATE - HIST'],axis=1,inplace=True)
l_all.drop(['DPD - HIST'],axis=1,inplace=True)
l_all['CUR BAL - HIST']=pd.to_numeric(l_all['CUR BAL - HIST'],errors='coerce')
l_all['CUR BAL - HIST'] = l_all['CUR BAL - HIST'].fillna(l_all['CUR BAL - HIST'].mean())
l_all.drop(['CUR BAL - HIST'],axis=1,inplace=True)
l_all.drop(['AMT OVERDUE - HIST'],axis=1,inplace=True)
l_all.drop(['AMT PAID - HIST'],axis=1,inplace=True)
l_all['TENURE'] = l_all['TENURE'].fillna(l_all['TENURE'].mean())
l_all['AuthDate']=pd.to_numeric(l_all['AuthDate'],errors='coerce')
l_all['LAST-PAYMENT-DATE']=pd.to_numeric(l_all['LAST-PAYMENT-DATE'],errors='coerce')

In [32]:
l_all.dtypes

ID                             int64
Frequency                     object
InstlmentMode                 object
LoanStatus                    object
PaymentMode                   object
BranchID                       int64
Tenure                         int64
AssetCost                      int64
AmountFinance                float64
DisbursalAmount              float64
EMI                          float64
DisbursalDate                  int64
MaturityDAte                   int64
AuthDate                       int64
AssetID                        int64
ManufacturerID               float64
SupplierID                     int64
LTV                          float64
SEX                           object
AGE                          float64
MonthlyIncome                float64
State                         object
ZiPCODE                      float64
Top-up Month                  object
ID1                            int64
SELF-INDICATOR                  bool
MATCH-TYPE                    object
ACCT-TYPE                     object
CONTRIBUTOR-TYPE              object
DATE-REPORTED                  int64
OWNERSHIP-IND                 object
ACCOUNT-STATUS                object
DISBURSED-DT                   int64
LAST-PAYMENT-DATE              int64
CREDIT-LIMIT/SANC AMT        float64
DISBURSED-AMT/HIGH CREDIT    float64
INSTALLMENT-AMT               object
CURRENT-BAL                  float64
INSTALLMENT-FREQUENCY         object
OVERDUE-AMT                  float64
WRITE-OFF-AMT                float64
ASSET_CLASS                   object
TENURE                       float64
data                          object
dtype: object

In [33]:
l_all.isnull().sum()

ID                               0
Frequency                        0
InstlmentMode                    0
LoanStatus                       0
PaymentMode                      0
BranchID                         0
Tenure                           0
AssetCost                        0
AmountFinance                    0
DisbursalAmount                  0
EMI                              0
DisbursalDate                    0
MaturityDAte                     0
AuthDate                         0
AssetID                          0
ManufacturerID                   0
SupplierID                       0
LTV                              0
SEX                              0
AGE                              0
MonthlyIncome                    0
State                            0
ZiPCODE                          0
Top-up Month                 14745
ID1                              0
SELF-INDICATOR                   0
MATCH-TYPE                       0
ACCT-TYPE                        0
CONTRIBUTOR-TYPE                 0
DATE-REPORTED                    0
OWNERSHIP-IND                    0
ACCOUNT-STATUS                   0
DISBURSED-DT                     0
LAST-PAYMENT-DATE                0
CREDIT-LIMIT/SANC AMT            0
DISBURSED-AMT/HIGH CREDIT        0
INSTALLMENT-AMT                  0
CURRENT-BAL                      0
INSTALLMENT-FREQUENCY            0
OVERDUE-AMT                      0
WRITE-OFF-AMT                    0
ASSET_CLASS                      0
TENURE                           0
data                             0
dtype: int64

In [34]:
cat_cols=l_all.select_dtypes(['object']).columns

In [35]:
cat_cols

Index(['Frequency', 'InstlmentMode', 'LoanStatus', 'PaymentMode', 'SEX',
       'State', 'Top-up Month', 'MATCH-TYPE', 'ACCT-TYPE', 'CONTRIBUTOR-TYPE',
       'OWNERSHIP-IND', 'ACCOUNT-STATUS', 'INSTALLMENT-AMT',
       'INSTALLMENT-FREQUENCY', 'ASSET_CLASS', 'data'],
      dtype='object')

In [36]:
cat_cols=['Frequency', 'InstlmentMode', 'LoanStatus', 'PaymentMode', 'SEX',
       'State', 'MATCH-TYPE', 'ACCT-TYPE', 'CONTRIBUTOR-TYPE',
       'OWNERSHIP-IND', 'ACCOUNT-STATUS', 'INSTALLMENT-AMT',
       'INSTALLMENT-FREQUENCY', 'ASSET_CLASS']

In [37]:
#ignoring categories with low frequencies however will result in fewer columns without 
# affecting model performance too much .

for col in cat_cols:
    freqs=l_all[col].value_counts()
    k=freqs.index[freqs>20][:-1]
    for cat in k:
        name=col+'_'+cat
        l_all[name]=(l_all[col]==cat).astype(int)
    del l_all[col]
    print(col)

Frequency
InstlmentMode
LoanStatus
PaymentMode
SEX
State
MATCH-TYPE
ACCT-TYPE
CONTRIBUTOR-TYPE
OWNERSHIP-IND
ACCOUNT-STATUS
INSTALLMENT-AMT
INSTALLMENT-FREQUENCY
ASSET_CLASS

In [38]:
l_all.shape

(143400, 231)

In [39]:
l_all['Top-up Month'].unique()

array([' > 48 Months', 'No Top-up Service', '12-18 Months',
       '36-48 Months', '18-24 Months', '24-30 Months', '30-36 Months',
       nan], dtype=object)

In [40]:
l_all['Top-up Month'] = np.where(l_all['Top-up Month']==' > 48 Months',0,l_all['Top-up Month'])
l_all['Top-up Month'] = np.where(l_all['Top-up Month']=='No Top-up Service',1,l_all['Top-up Month'])
l_all['Top-up Month'] = np.where(l_all['Top-up Month']=='12-18 Months',2,l_all['Top-up Month'])
l_all['Top-up Month'] = np.where(l_all['Top-up Month']=='36-48 Months',3,l_all['Top-up Month'])
l_all['Top-up Month'] = np.where(l_all['Top-up Month']=='18-24 Months',4,l_all['Top-up Month'])
l_all['Top-up Month'] = np.where(l_all['Top-up Month']=='24-30 Months',5,l_all['Top-up Month'])
l_all['Top-up Month'] = np.where(l_all['Top-up Month']=='30-36 Months',6,l_all['Top-up Month'])

In [41]:
l_all['Top-up Month']=pd.to_numeric(l_all['Top-up Month'],errors='coerce')
l_all['Top-up Month'].dtypes

dtype('float64')

In [42]:
ld_train=l_all[l_all['data']=='train']
del ld_train['data']
ld_test=l_all[l_all['data']=='test']
ld_test.drop(['Top-up Month','data'],axis=1,inplace=True)

In [43]:
ld_train.shape, ld_test.shape

((128655, 230), (14745, 229))

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
ld_train1,ld_train2=train_test_split(ld_train,test_size=0.2,random_state=2)

In [46]:
x_train1=ld_train1.drop('Top-up Month',axis=1)
y_train1=ld_train1['Top-up Month']

# XGboost Classifier

In [47]:
from xgboost import XGBClassifier, plot_importance

In [49]:
clf  = XGBClassifier(max_depth = 10,random_state = 10, n_estimators=220, eval_metric = 'auc', min_child_weight = 3,
                    colsample_bytree = 0.75, subsample= 0.9)

In [50]:
# clf.fit(x_train1, y_train1)
# x_train2=ld_train2.drop('Top-up Month',axis=1)
# predicted_XG=clf.predict(x_train2)
# predicted_XG
# accuracy = clf.score(x_train1,y_train1)
# print(accuracy*100,'%')

In [51]:
x_train=ld_train.drop('Top-up Month',axis=1)
y_train=ld_train['Top-up Month']

In [52]:
x_train.shape, y_train.shape, ld_test.shape

((128655, 229), (128655,), (14745, 229))

In [53]:
clf.fit(x_train,y_train)

XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.75, eval_metric='auc',
              gamma=0, gpu_id=-1, importance_type='gain',
              interaction_constraints=None, learning_rate=0.300000012,
              max_delta_step=0, max_depth=10, min_child_weight=3, missing=nan,
              monotone_constraints=None, n_estimators=220, n_jobs=0,
              num_parallel_tree=1, objective='multi:softprob', random_state=10,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=None, subsample=0.9,
              tree_method=None, validate_parameters=False, verbosity=None)

In [54]:
test_pred_XG = clf.predict(ld_test)

In [55]:
test_pred_XG.shape

(14745,)

In [56]:
sample_sumbission.head()

    ID  Top-up Month
0    4  36-48 Months
1    5  18-24 Months
2    6  30-36 Months
3   25  30-36 Months
4  119  30-36 Months

In [57]:
sample_sumbission['Top-up Month'].unique()

array(['36-48 Months', '18-24 Months', '30-36 Months', '24-30 Months',
       ' > 48 Months', 'No Top-up Service', '12-18 Months'], dtype=object)

In [58]:
submission_XGB5 = pd.DataFrame({
    'ID':sample_sumbission['ID'],
    'Top-up Month':test_pred_XG
})

In [59]:
submission_XGB5['Top-up Month'].unique()

array([1., 0., 3., 6., 5., 4.])

In [60]:
submission_XGB5.head()

    ID  Top-up Month
0    4           1.0
1    5           1.0
2    6           1.0
3   25           1.0
4  119           1.0

In [61]:
submission_XGB5['Top-up Month'].unique()

array([1., 0., 3., 6., 5., 4.])

In [62]:
submission_XGB5['Top-up Month'] = np.where(submission_XGB5['Top-up Month']==0.0,' > 48 Months',submission_XGB5['Top-up Month'])
submission_XGB5['Top-up Month'] = np.where(submission_XGB5['Top-up Month']=='1.0','No Top-up Service',submission_XGB5['Top-up Month'])
submission_XGB5['Top-up Month'] = np.where(submission_XGB5['Top-up Month']=='2.0','12-18 Months',submission_XGB5['Top-up Month'])
submission_XGB5['Top-up Month'] = np.where(submission_XGB5['Top-up Month']=='3.0','36-48 Months',submission_XGB5['Top-up Month'])
submission_XGB5['Top-up Month'] = np.where(submission_XGB5['Top-up Month']=='4.0','18-24 Months',submission_XGB5['Top-up Month'])
submission_XGB5['Top-up Month'] = np.where(submission_XGB5['Top-up Month']=='5.0','24-30 Months',submission_XGB5['Top-up Month'])
submission_XGB5['Top-up Month'] = np.where(submission_XGB5['Top-up Month']=='6.0','30-36 Months',submission_XGB5['Top-up Month'])

In [63]:
submission_XGB5.head()

    ID       Top-up Month
0    4  No Top-up Service
1    5  No Top-up Service
2    6  No Top-up Service
3   25  No Top-up Service
4  119  No Top-up Service

In [64]:
submission_XGB5.to_csv('XGB_Final38.csv',index=False)

###

In [65]:
clf = XGBClassifier(max_depth = 12,random_state=7, n_estimators=100, eval_metric = 'auc', min_child_weight = 3,
                    colsample_bytree = 0.75, subsample= 0.8)
clf.fit(x_train, y_train)

XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.75, eval_metric='auc',
              gamma=0, gpu_id=-1, importance_type='gain',
              interaction_constraints=None, learning_rate=0.300000012,
              max_delta_step=0, max_depth=12, min_child_weight=3, missing=nan,
              monotone_constraints=None, n_estimators=100, n_jobs=0,
              num_parallel_tree=1, objective='multi:softprob', random_state=7,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=None, subsample=0.8,
              tree_method=None, validate_parameters=False, verbosity=None)

In [66]:
test_pred_XG39=clf.predict(ld_test)

In [67]:
test_pred_XG39=clf.predict(ld_test)

In [68]:
accuracy = clf.score(x_train,y_train)
print(accuracy*100,'%')

97.17072791574365 %

In [69]:
submission_XGB6 = pd.DataFrame({
    'ID':sample_sumbission['ID'],
    'Top-up Month':test_pred_XG39
})

In [70]:
submission_XGB6['Top-up Month'] = np.where(submission_XGB6['Top-up Month']==0.0,' > 48 Months',submission_XGB6['Top-up Month'])
submission_XGB6['Top-up Month'] = np.where(submission_XGB6['Top-up Month']=='1.0','No Top-up Service',submission_XGB6['Top-up Month'])
submission_XGB6['Top-up Month'] = np.where(submission_XGB6['Top-up Month']=='2.0','12-18 Months',submission_XGB6['Top-up Month'])
submission_XGB6['Top-up Month'] = np.where(submission_XGB6['Top-up Month']=='3.0','36-48 Months',submission_XGB6['Top-up Month'])
submission_XGB6['Top-up Month'] = np.where(submission_XGB6['Top-up Month']=='4.0','18-24 Months',submission_XGB6['Top-up Month'])
submission_XGB6['Top-up Month'] = np.where(submission_XGB6['Top-up Month']=='5.0','24-30 Months',submission_XGB6['Top-up Month'])
submission_XGB6['Top-up Month'] = np.where(submission_XGB6['Top-up Month']=='6.0','30-36 Months',submission_XGB6['Top-up Month'])

In [71]:
submission_XGB6.head()

    ID       Top-up Month
0    4  No Top-up Service
1    5  No Top-up Service
2    6  No Top-up Service
3   25  No Top-up Service
4  119  No Top-up Service

In [72]:
submission_XGB6.to_csv('XGB_Final39.csv',index=False)

# ANN

In [73]:
y_train.shape

(128655,)

In [74]:
sc = StandardScaler()

In [75]:
X_train = sc.fit_transform(x_train)
X_test = sc.transform(ld_test)

In [76]:
from sklearn.neural_network import MLPClassifier

In [77]:
clfann = MLPClassifier(hidden_layer_sizes=100, max_iter=5000,
                     solver='sgd', verbose=20,  random_state=21,tol=0.001)

In [78]:
clfann.fit(X_train, y_train)

Iteration 1, loss = 0.87983061
Iteration 2, loss = 0.73138979
Iteration 3, loss = 0.70130042
Iteration 4, loss = 0.68512254
Iteration 5, loss = 0.67443988
Iteration 6, loss = 0.66664754
Iteration 7, loss = 0.66084702
Iteration 8, loss = 0.65611236
Iteration 9, loss = 0.65219853
Iteration 10, loss = 0.64882188
Iteration 11, loss = 0.64581371
Iteration 12, loss = 0.64323713
Iteration 13, loss = 0.64090039
Iteration 14, loss = 0.63876683
Iteration 15, loss = 0.63683092
Iteration 16, loss = 0.63513358
Iteration 17, loss = 0.63354862
Iteration 18, loss = 0.63205644
Iteration 19, loss = 0.63060743
Iteration 20, loss = 0.62933418
Iteration 21, loss = 0.62807703
Iteration 22, loss = 0.62689399
Iteration 23, loss = 0.62580258
Iteration 24, loss = 0.62473594
Iteration 25, loss = 0.62371175
Iteration 26, loss = 0.62266208
Iteration 27, loss = 0.62183788
Iteration 28, loss = 0.62089266
Iteration 29, loss = 0.61999644
Iteration 30, loss = 0.61917232
Iteration 31, loss = 0.61834207
Iteration 32, loss = 0.61758522
Iteration 33, loss = 0.61688550
Iteration 34, loss = 0.61605478
Iteration 35, loss = 0.61532656
Iteration 36, loss = 0.61464220
Iteration 37, loss = 0.61402653
Training loss did not improve more than tol=0.001000 for 10 consecutive epochs. Stopping.

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=100, learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=5000,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=21, shuffle=True, solver='sgd',
              tol=0.001, validation_fraction=0.1, verbose=20, warm_start=False)

In [79]:
test_pred_ANN = clfann.predict(ld_test)

In [80]:
submission_clfann = pd.DataFrame({
    'ID':sample_sumbission['ID'],
    'Top-up Month':test_pred_ANN
})

In [81]:
submission_clfann['Top-up Month'] = np.where(submission_clfann['Top-up Month']==0.0,' > 48 Months',submission_clfann['Top-up Month'])
submission_clfann['Top-up Month'] = np.where(submission_clfann['Top-up Month']=='1.0','No Top-up Service',submission_clfann['Top-up Month'])
submission_clfann['Top-up Month'] = np.where(submission_clfann['Top-up Month']=='2.0','12-18 Months',submission_clfann['Top-up Month'])
submission_clfann['Top-up Month'] = np.where(submission_clfann['Top-up Month']=='3.0','36-48 Months',submission_clfann['Top-up Month'])
submission_clfann['Top-up Month'] = np.where(submission_clfann['Top-up Month']=='4.0','18-24 Months',submission_clfann['Top-up Month'])
submission_clfann['Top-up Month'] = np.where(submission_clfann['Top-up Month']=='5.0','24-30 Months',submission_clfann['Top-up Month'])
submission_clfann['Top-up Month'] = np.where(submission_clfann['Top-up Month']=='6.0','30-36 Months',submission_clfann['Top-up Month'])

In [82]:
submission_clfann.head()

    ID       Top-up Month
0    4  No Top-up Service
1    5  No Top-up Service
2    6  No Top-up Service
3   25  No Top-up Service
4  119  No Top-up Service

In [83]:
submission_clfann.to_csv('ANN_Final40.csv',index=False)

In [84]:
from sklearn.metrics import confusion_matrix,classification_report

In [85]:
clfann.score(X_train,y_train)

0.829684038708173

# SVM

In [98]:
from sklearn.svm import SVC
SVC = SVC(kernel = 'poly').fit(x_train, y_train)

In [99]:
accuracy = SVC.score(x_train,y_train)
print(accuracy*100,'%')

82.9171038824764 %

In [100]:
test_pred_SVC = SVC.predict(ld_test)

In [101]:
submission_SVM = pd.DataFrame({
    'ID':sample_sumbission['ID'],
    'Top-up Month':test_pred_SVC
})

In [102]:
submission_SVM['Top-up Month'] = np.where(submission_SVM['Top-up Month']==0.0,' > 48 Months',submission_SVM['Top-up Month'])
submission_SVM['Top-up Month'] = np.where(submission_SVM['Top-up Month']=='1.0','No Top-up Service',submission_SVM['Top-up Month'])
submission_SVM['Top-up Month'] = np.where(submission_SVM['Top-up Month']=='2.0','12-18 Months',submission_SVM['Top-up Month'])
submission_SVM['Top-up Month'] = np.where(submission_SVM['Top-up Month']=='3.0','36-48 Months',submission_SVM['Top-up Month'])
submission_SVM['Top-up Month'] = np.where(submission_SVM['Top-up Month']=='4.0','18-24 Months',submission_SVM['Top-up Month'])
submission_SVM['Top-up Month'] = np.where(submission_SVM['Top-up Month']=='5.0','24-30 Months',submission_SVM['Top-up Month'])
submission_SVM['Top-up Month'] = np.where(submission_SVM['Top-up Month']=='6.0','30-36 Months',submission_SVM['Top-up Month'])

In [104]:

submission_SVM.to_csv('SVC_Final41.csv',index=False)

# KNN

In [105]:
from sklearn.neighbors import KNeighborsClassifier

In [106]:
KNN = KNeighborsClassifier(n_neighbors=10)
KNN.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                     weights='uniform')

In [107]:
accuracy = KNN.score(x_train,y_train)
print(accuracy*100,'%')

82.97073568846916 %

In [108]:
test_pred_KNN = KNN.predict(ld_test)

In [109]:
submission_KNN = pd.DataFrame({
    'ID':sample_sumbission['ID'],
    'Top-up Month':test_pred_KNN
})

In [110]:
submission_KNN['Top-up Month'] = np.where(submission_KNN['Top-up Month']==0.0,' > 48 Months',submission_KNN['Top-up Month'])
submission_KNN['Top-up Month'] = np.where(submission_KNN['Top-up Month']=='1.0','No Top-up Service',submission_SVM['Top-up Month'])
submission_KNN['Top-up Month'] = np.where(submission_KNN['Top-up Month']=='2.0','12-18 Months',submission_KNN['Top-up Month'])
submission_KNN['Top-up Month'] = np.where(submission_KNN['Top-up Month']=='3.0','36-48 Months',submission_KNN['Top-up Month'])
submission_KNN['Top-up Month'] = np.where(submission_KNN['Top-up Month']=='4.0','18-24 Months',submission_KNN['Top-up Month'])
submission_KNN['Top-up Month'] = np.where(submission_KNN['Top-up Month']=='5.0','24-30 Months',submission_KNN['Top-up Month'])
submission_KNN['Top-up Month'] = np.where(submission_KNN['Top-up Month']=='6.0','30-36 Months',submission_KNN['Top-up Month'])

In [111]:
submission_KNN.to_csv('KNN_Final42.csv',index=False)

# Random Search CV

In [112]:
import pandas as pd
import numpy as np
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import GradientBoostingClassifier
from xgboost.sklearn import XGBClassifier

In [113]:
xgb_params = {  
                "learning_rate":[0.01,0.05,0.1,0.3,0.5],
                "gamma":[i/10.0 for i in range(0,5)],
                "max_depth": [2,3,4,5,6,7,8],
                "min_child_weight":[1,2,5,10],
                "max_delta_step":[0,1,2,5,10],
                "subsample":[i/10.0 for i in range(5,10)],
                "colsample_bytree":[i/10.0 for i in range(5,10)],
                "colsample_bylevel":[i/10.0 for i in range(5,10)],
                "reg_lambda":[1e-5, 1e-2, 0.1, 1, 100], 
                "reg_alpha":[1e-5, 1e-2, 0.1, 1, 100],
                "scale_pos_weight":[1,2,3,4,5,6,7,8,9],
                "n_estimators":[100,500,700,1000]
             }

In [115]:
xgb=XGBClassifier()

In [117]:
n_iter=10

random_search=RandomizedSearchCV(xgb,n_jobs=-1,cv=5,n_iter=n_iter,scoring='roc_auc',
                                 param_distributions=xgb_params,verbose=20)

In [ ]:
random_search.fit(x_train,y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.