In [39]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import StandardScaler
from xgboost.sklearn import XGBClassifier
from sklearn.model_selection import KFold, train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

In [2]:
train_bureau = pd.read_excel('C:/Users/user/Downloads/Analytic Vidya Hackthon/Train/Train/train_bureau.xlsx')
train_bureau.head()

,ID,SELF-INDICATOR,MATCH-TYPE,ACCT-TYPE,CONTRIBUTOR-TYPE,DATE-REPORTED,OWNERSHIP-IND,ACCOUNT-STATUS,DISBURSED-DT,CLOSE-DT,...,INSTALLMENT-FREQUENCY,OVERDUE-AMT,WRITE-OFF-AMT,ASSET_CLASS,REPORTED DATE - HIST,DPD - HIST,CUR BAL - HIST,AMT OVERDUE - HIST,AMT PAID - HIST,TENURE
0,1,False,PRIMARY,Overdraft,NAB,2018-04-30,Individual,Delinquent,2015-10-05,NaN,...,NaN,"37,873",0.0,Standard,"20180430,20180331,",030000,"37873,12820,","37873,,",",,",NaN
1,1,False,PRIMARY,Auto Loan (Personal),NAB,2019-12-31,Individual,Active,2018-03-19,NaN,...,F03,NaN,0.0,Standard,"20191231,20191130,20191031,20190930,20190831,2...",0000000000000000000000000000000000000000000000...,"20797,21988,23174,24341,25504,26648,27780,2891...",",,,,,,,,,,,,,,,,,,,,1452,,",",,,,,,,,,,,,,,,,,,,,,,",36.0
2,1,True,PRIMARY,Tractor Loan,NBF,2020-01-31,Individual,Active,2019-08-30,NaN,...,NaN,0,0.0,NaN,"20200131,20191231,20191130,20191031,20190930,2...",000000000000000000,"116087,116087,145000,145000,145000,145000,","0,0,0,0,0,0,",",,,,,,",NaN
3,1,True,PRIMARY,Auto Loan (Personal),NBF,2017-09-30,Individual,Closed,2013-09-27,2017-09-21 00:00:00,...,NaN,0,0.0,NaN,"20170930,20170801,20170731,20170630,20170531,2...",000DDD0270260270260270240270270000320000000000...,"0,,15925,23754,31494,39147,46713,54194,61590,6...","0,,1014,1014,1014,1014,1014,1014,1014,983,0,92...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",NaN
4,1,True,PRIMARY,Tractor Loan,NBF,2016-02-29,Individual,Closed,2012-02-10,2016-02-01 00:00:00,...,NaN,0,0.0,NaN,"20160229,20160131,20151231,20151130,20151031,2...",0000000000000000000000000000000000000000000000...,"0,0,23658,23321,22989,46321,45662,45012,68030,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",NaN

In [3]:
train_data = pd.read_excel('C:/Users/user/Downloads/Analytic Vidya Hackthon/Train/Train/train_Data.xlsx')
train_data.head()

,ID,Frequency,InstlmentMode,LoanStatus,PaymentMode,BranchID,Area,Tenure,AssetCost,AmountFinance,...,ManufacturerID,SupplierID,LTV,SEX,AGE,MonthlyIncome,City,State,ZiPCODE,Top-up Month
0,1,Monthly,Arrear,Closed,PDC_E,1,NaN,48,450000,275000.0,...,1568,21946,61.11,M,49.0,35833.33,RAISEN,MADHYA PRADESH,464993.0,> 48 Months
1,2,Monthly,Advance,Closed,PDC,333,BHOPAL,47,485000,350000.0,...,1062,34802,70.00,M,23.0,666.67,SEHORE,MADHYA PRADESH,466001.0,No Top-up Service
2,3,Quatrly,Arrear,Active,Direct Debit,1,NaN,68,690000,519728.0,...,1060,127335,69.77,M,39.0,45257.00,BHOPAL,MADHYA PRADESH,462030.0,12-18 Months
3,7,Monthly,Advance,Closed,Billed,125,GUNA,48,480000,400000.0,...,1060,25094,80.92,M,24.0,20833.33,ASHOK NAGAR,MADHYA PRADESH,473335.0,> 48 Months
4,8,Monthly,Arrear,Closed,Billed,152,BILASPUR,44,619265,440000.0,...,1046,21853,71.05,M,56.0,27313.67,BILASPUR,CHATTISGARH,495442.0,36-48 Months

In [4]:
test_bureau = pd.read_excel('C:/Users/user/Downloads/Analytic Vidya Hackthon/Test/test_bureau.xlsx')
test_bureau.head()

,ID,SELF-INDICATOR,MATCH-TYPE,ACCT-TYPE,CONTRIBUTOR-TYPE,DATE-REPORTED,OWNERSHIP-IND,ACCOUNT-STATUS,DISBURSED-DT,CLOSE-DT,...,INSTALLMENT-FREQUENCY,OVERDUE-AMT,WRITE-OFF-AMT,ASSET_CLASS,REPORTED DATE - HIST,DPD - HIST,CUR BAL - HIST,AMT OVERDUE - HIST,AMT PAID - HIST,TENURE
0,4,False,PRIMARY,Credit Card,CCC,2019-11-17,Individual,Active,2019-09-26,NaN,...,NaN,0,0.0,NaN,"20191117,",000,"589,","0,","0,",NaN
1,4,False,PRIMARY,Housing Loan,HFC,2019-10-31,Joint,Active,2017-06-21,NaN,...,F03,0,0.0,NaN,"20191031,20190930,20190831,20190731,20190630,2...",0000000000000000000000000000000000000000000000...,"2107227,2122196,2136877,2151448,2165910,218026...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,",120.0
2,4,False,PRIMARY,Property Loan,HFC,2019-10-31,Joint,Active,2017-06-27,NaN,...,F03,0,0.0,NaN,"20191031,20190930,20190831,20190731,20190630,2...",0000000000000000000000000000000000000000000000...,"83458,84051,84632,85209,85781,86349,86913,8747...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,",120.0
3,4,True,PRIMARY,Tractor Loan,NBF,2015-10-31,Individual,Closed,2011-12-29,2015-10-13 00:00:00,...,NaN,0,0.0,NaN,"20151031,20150901,20150831,20150731,20150630,2...",000DDD0270000000000000000000000000000000000000...,"0,,21548,32097,42500,52758,62874,72850,82688,9...","0,,11000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",NaN
4,5,False,PRIMARY,Gold Loan,PRB,2017-08-31,Individual,Closed,2016-05-04,2017-06-15 00:00:00,...,NaN,0,0.0,NaN,"20170630,20170501,20170401,20170331,20170201,2...",000DDDDDD000DDDDDD000DDDDDD000DDDDDD000,"0,,,25846,,,25846,,,25846,,,25846,","0,,,0,,,0,,,0,,,0",",,,,,,,,,,,,,,",NaN

In [5]:
test_data = pd.read_excel('C:/Users/user/Downloads/Analytic Vidya Hackthon/Test/test_data.xlsx')
test_data.head()

,ID,Frequency,InstlmentMode,LoanStatus,PaymentMode,BranchID,Area,Tenure,AssetCost,AmountFinance,...,AssetID,ManufacturerID,SupplierID,LTV,SEX,AGE,MonthlyIncome,City,State,ZiPCODE
0,4,Monthly,Advance,Closed,PDC_E,2,GUNA,46,480000,365000.0,...,3524747,1046.0,22354,75.83,M,50.0,32069.00,GUNA,MADHYA PRADESH,473001.0
1,5,Monthly,Advance,Closed,PDC,2,GUNA,45,480000,285000.0,...,4985862,1046.0,22354,57.44,M,35.0,25000.00,GUNA,MADHYA PRADESH,473001.0
2,6,Quatrly,Arrear,Closed,PDC,2,GUNA,48,580000,400000.0,...,12881783,1060.0,65929,68.97,M,37.0,23333.33,GUNA,MADHYA PRADESH,473001.0
3,25,Half Yearly,Arrear,Closed,Billed,154,NaN,36,725000,500000.0,...,10613776,1049.0,68597,61.79,M,55.0,91666.67,MAHASAMUND,CHATTISGARH,493558.0
4,119,Quatrly,Arrear,Closed,PDC,194,CUTTACK,48,617000,400000.0,...,7911110,1049.0,38493,59.09,M,48.0,12500.00,JAGATSINGHAPUR,ORISSA,754137.0

In [6]:
sample_sumbission = pd.read_csv("C:/Users/user/Downloads/Analytic Vidya Hackthon/sample_submission_ejm25Dc.csv")
sample_sumbission.head(10)

    ID       Top-up Month
0    4       36-48 Months
1    5       18-24 Months
2    6       30-36 Months
3   25       30-36 Months
4  119       30-36 Months
5  126       24-30 Months
6  127        > 48 Months
7  345  No Top-up Service
8  361       36-48 Months
9  393       30-36 Months

In [7]:
train_bureau.shape, train_data.shape

((560844, 25), (128655, 26))

In [8]:
test_bureau.shape, test_data.shape

((64019, 25), (14745, 25))

In [9]:
train_data.columns

Index(['ID', 'Frequency', 'InstlmentMode', 'LoanStatus', 'PaymentMode',
       'BranchID', 'Area', 'Tenure', 'AssetCost', 'AmountFinance',
       'DisbursalAmount', 'EMI', 'DisbursalDate', 'MaturityDAte', 'AuthDate',
       'AssetID', 'ManufacturerID', 'SupplierID', 'LTV', 'SEX', 'AGE',
       'MonthlyIncome', 'City', 'State', 'ZiPCODE', 'Top-up Month'],
      dtype='object')

In [10]:
train_bureau.columns

Index(['ID', 'SELF-INDICATOR', 'MATCH-TYPE', 'ACCT-TYPE', 'CONTRIBUTOR-TYPE',
       'DATE-REPORTED', 'OWNERSHIP-IND', 'ACCOUNT-STATUS', 'DISBURSED-DT',
       'CLOSE-DT', 'LAST-PAYMENT-DATE', 'CREDIT-LIMIT/SANC AMT',
       'DISBURSED-AMT/HIGH CREDIT', 'INSTALLMENT-AMT', 'CURRENT-BAL',
       'INSTALLMENT-FREQUENCY', 'OVERDUE-AMT', 'WRITE-OFF-AMT', 'ASSET_CLASS',
       'REPORTED DATE - HIST', 'DPD - HIST', 'CUR BAL - HIST',
       'AMT OVERDUE - HIST', 'AMT PAID - HIST', 'TENURE'],
      dtype='object')

In [11]:
train_data['ID1'] = train_bureau['ID']
train_data['SELF-INDICATOR'] = train_bureau['SELF-INDICATOR']
train_data['MATCH-TYPE'] = train_bureau['MATCH-TYPE']
train_data['ACCT-TYPE'] = train_bureau['ACCT-TYPE']
train_data['CONTRIBUTOR-TYPE'] = train_bureau['CONTRIBUTOR-TYPE']
train_data['DATE-REPORTED'] = train_bureau['DATE-REPORTED']
train_data['OWNERSHIP-IND'] = train_bureau['OWNERSHIP-IND']
train_data['ACCOUNT-STATUS'] = train_bureau['ACCOUNT-STATUS']
train_data['DISBURSED-DT'] = train_bureau['DISBURSED-DT']
train_data['CLOSE-DT'] = train_bureau['CLOSE-DT']
train_data['LAST-PAYMENT-DATE'] = train_bureau['LAST-PAYMENT-DATE']
train_data['CREDIT-LIMIT/SANC AMT'] = train_bureau['CREDIT-LIMIT/SANC AMT']
train_data['DISBURSED-AMT/HIGH CREDIT'] = train_bureau['DISBURSED-AMT/HIGH CREDIT']
train_data['INSTALLMENT-AMT'] = train_bureau['INSTALLMENT-AMT']
train_data['CURRENT-BAL'] = train_bureau['CURRENT-BAL']
train_data['INSTALLMENT-FREQUENCY'] = train_bureau['INSTALLMENT-FREQUENCY']
train_data['OVERDUE-AMT'] = train_bureau['OVERDUE-AMT']
train_data['WRITE-OFF-AMT'] = train_bureau['WRITE-OFF-AMT']
train_data['ASSET_CLASS'] = train_bureau['ASSET_CLASS']
train_data['REPORTED DATE - HIST'] = train_bureau['REPORTED DATE - HIST']
train_data['DPD - HIST'] = train_bureau['DPD - HIST']
train_data['CUR BAL - HIST'] = train_bureau['CUR BAL - HIST']
train_data['AMT OVERDUE - HIST'] = train_bureau['AMT OVERDUE - HIST']
train_data['AMT PAID - HIST'] = train_bureau['AMT PAID - HIST']
train_data['TENURE'] = train_bureau['TENURE']

In [12]:
train_data.shape

(128655, 51)

In [13]:
test_data.columns

Index(['ID', 'Frequency', 'InstlmentMode', 'LoanStatus', 'PaymentMode',
       'BranchID', 'Area', 'Tenure', 'AssetCost', 'AmountFinance',
       'DisbursalAmount', 'EMI', 'DisbursalDate', 'MaturityDAte', 'AuthDate',
       'AssetID', 'ManufacturerID', 'SupplierID', 'LTV', 'SEX', 'AGE',
       'MonthlyIncome', 'City', 'State', 'ZiPCODE'],
      dtype='object')

In [14]:
test_bureau.columns

Index(['ID', 'SELF-INDICATOR', 'MATCH-TYPE', 'ACCT-TYPE', 'CONTRIBUTOR-TYPE',
       'DATE-REPORTED', 'OWNERSHIP-IND', 'ACCOUNT-STATUS', 'DISBURSED-DT',
       'CLOSE-DT', 'LAST-PAYMENT-DATE', 'CREDIT-LIMIT/SANC AMT',
       'DISBURSED-AMT/HIGH CREDIT', 'INSTALLMENT-AMT', 'CURRENT-BAL',
       'INSTALLMENT-FREQUENCY', 'OVERDUE-AMT', 'WRITE-OFF-AMT', 'ASSET_CLASS',
       'REPORTED DATE - HIST', 'DPD - HIST', 'CUR BAL - HIST',
       'AMT OVERDUE - HIST', 'AMT PAID - HIST', 'TENURE'],
      dtype='object')

In [15]:
test_data['ID1'] = test_bureau['ID']
test_data['SELF-INDICATOR'] = test_bureau['SELF-INDICATOR']
test_data['MATCH-TYPE'] = test_bureau['MATCH-TYPE']
test_data['ACCT-TYPE'] = test_bureau['ACCT-TYPE']
test_data['CONTRIBUTOR-TYPE'] = test_bureau['CONTRIBUTOR-TYPE']
test_data['DATE-REPORTED'] = test_bureau['DATE-REPORTED']
test_data['OWNERSHIP-IND'] = test_bureau['OWNERSHIP-IND']
test_data['ACCOUNT-STATUS'] = test_bureau['ACCOUNT-STATUS']
test_data['DISBURSED-DT'] = test_bureau['DISBURSED-DT']
test_data['CLOSE-DT'] = test_bureau['CLOSE-DT']
test_data['LAST-PAYMENT-DATE'] = test_bureau['LAST-PAYMENT-DATE']
test_data['CREDIT-LIMIT/SANC AMT'] = test_bureau['CREDIT-LIMIT/SANC AMT']
test_data['DISBURSED-AMT/HIGH CREDIT'] = test_bureau['DISBURSED-AMT/HIGH CREDIT']
test_data['INSTALLMENT-AMT'] = test_bureau['INSTALLMENT-AMT']
test_data['CURRENT-BAL'] = test_bureau['CURRENT-BAL']
test_data['INSTALLMENT-FREQUENCY'] = test_bureau['INSTALLMENT-FREQUENCY']
test_data['OVERDUE-AMT'] = test_bureau['OVERDUE-AMT']
test_data['WRITE-OFF-AMT'] = test_bureau['WRITE-OFF-AMT']
test_data['ASSET_CLASS'] = test_bureau['ASSET_CLASS']
test_data['REPORTED DATE - HIST'] = test_bureau['REPORTED DATE - HIST']
test_data['DPD - HIST'] = test_bureau['DPD - HIST']
test_data['CUR BAL - HIST'] = test_bureau['CUR BAL - HIST']
test_data['AMT OVERDUE - HIST'] = test_bureau['AMT OVERDUE - HIST']
test_data['AMT PAID - HIST'] = test_bureau['AMT PAID - HIST']
test_data['TENURE'] = test_bureau['TENURE']

In [16]:
test_data.shape, train_data.shape

((14745, 50), (128655, 51))

In [17]:
test_data['Top-up Month']=np.nan
train_data['data']='train'
test_data['data']='test'
test_data=test_data[train_data.columns]
l_all=pd.concat([train_data,test_data],axis=0)

In [18]:
l_all.shape

(143400, 52)

In [19]:
l_all['OWNERSHIP-IND'].nunique()

5

In [20]:
l_all.drop(['City','ID','BranchID','Area','AssetID','City','State','ZiPCODE','ID1'],axis=1,inplace=True)

In [21]:
l_all.dtypes

Frequency                            object
InstlmentMode                        object
LoanStatus                           object
PaymentMode                          object
Tenure                                int64
AssetCost                             int64
AmountFinance                       float64
DisbursalAmount                     float64
EMI                                 float64
DisbursalDate                datetime64[ns]
MaturityDAte                 datetime64[ns]
AuthDate                     datetime64[ns]
ManufacturerID                      float64
SupplierID                            int64
LTV                                 float64
SEX                                  object
AGE                                 float64
MonthlyIncome                       float64
Top-up Month                         object
SELF-INDICATOR                         bool
MATCH-TYPE                           object
ACCT-TYPE                            object
CONTRIBUTOR-TYPE                     object
DATE-REPORTED                datetime64[ns]
OWNERSHIP-IND                        object
ACCOUNT-STATUS                       object
DISBURSED-DT                 datetime64[ns]
CLOSE-DT                             object
LAST-PAYMENT-DATE            datetime64[ns]
CREDIT-LIMIT/SANC AMT                object
DISBURSED-AMT/HIGH CREDIT            object
INSTALLMENT-AMT                      object
CURRENT-BAL                          object
INSTALLMENT-FREQUENCY                object
OVERDUE-AMT                          object
WRITE-OFF-AMT                       float64
ASSET_CLASS                          object
REPORTED DATE - HIST                 object
DPD - HIST                           object
CUR BAL - HIST                       object
AMT OVERDUE - HIST                   object
AMT PAID - HIST                      object
TENURE                              float64
data                                 object
dtype: object

In [22]:
l_all.isna().sum()[0:10]

Frequency          0
InstlmentMode      0
LoanStatus         0
PaymentMode        0
Tenure             0
AssetCost          0
AmountFinance      0
DisbursalAmount    0
EMI                0
DisbursalDate      0
dtype: int64

In [23]:
l_all.isna().sum()[9:20]

DisbursalDate         0
MaturityDAte          1
AuthDate              0
ManufacturerID        2
SupplierID            0
LTV                   0
SEX                  64
AGE                  66
MonthlyIncome       248
Top-up Month      14745
SELF-INDICATOR        0
dtype: int64

In [24]:
l_all['DisbursalDate']=pd.to_numeric(l_all['DisbursalDate'],errors='coerce')
l_all['MaturityDAte'] = l_all['MaturityDAte'].fillna(l_all['MaturityDAte'].mode()[0])
l_all['MaturityDAte']=pd.to_numeric(l_all['MaturityDAte'],errors='coerce')
l_all['AuthDate']=pd.to_numeric(l_all['AuthDate'],errors='coerce')
l_all['ManufacturerID'] = l_all['ManufacturerID'].fillna(l_all['ManufacturerID'].mean())
l_all['SEX'] = l_all['SEX'].fillna(l_all['SEX'].mode()[0])
l_all['AGE'] = l_all['AGE'].fillna(l_all['AGE'].mean())
l_all['MonthlyIncome'] = l_all['MonthlyIncome'].fillna(l_all['MonthlyIncome'].mean())
l_all['SELF-INDICATOR']=np.where(l_all['SELF-INDICATOR']=='False',0,l_all['SELF-INDICATOR'])
l_all['SELF-INDICATOR']=np.where(l_all['SELF-INDICATOR']=='True',1,l_all['SELF-INDICATOR'])
l_all.isna().sum()[19:30]

SELF-INDICATOR                0
MATCH-TYPE                    0
ACCT-TYPE                     0
CONTRIBUTOR-TYPE              0
DATE-REPORTED               763
OWNERSHIP-IND                 0
ACCOUNT-STATUS                0
DISBURSED-DT               5658
CLOSE-DT                  57732
LAST-PAYMENT-DATE         76822
CREDIT-LIMIT/SANC AMT    139673
dtype: int64

In [25]:
l_all['MATCH-TYPE']=np.where(l_all['MATCH-TYPE']=='PRIMARY',0,l_all['MATCH-TYPE'])
l_all['MATCH-TYPE']=np.where(l_all['MATCH-TYPE']=='SECONDARY',1,l_all['MATCH-TYPE'])
l_all['MATCH-TYPE']=pd.to_numeric(l_all['MATCH-TYPE'],errors='coerce')
l_all['DATE-REPORTED'] = l_all['DATE-REPORTED'].fillna(l_all['DATE-REPORTED'].mode()[0])
l_all['DATE-REPORTED']=pd.to_numeric(l_all['DATE-REPORTED'],errors='coerce')
l_all['DISBURSED-DT'] = l_all['DISBURSED-DT'].fillna(l_all['DISBURSED-DT'].mode()[0])
l_all['DISBURSED-DT']=pd.to_numeric(l_all['DISBURSED-DT'],errors='coerce')
l_all['LAST-PAYMENT-DATE'] = l_all['LAST-PAYMENT-DATE'].fillna(l_all['LAST-PAYMENT-DATE'].mode()[0])
l_all['LAST-PAYMENT-DATE']=pd.to_numeric(l_all['LAST-PAYMENT-DATE'],errors='coerce')
l_all['CREDIT-LIMIT/SANC AMT']=pd.to_numeric(l_all['CREDIT-LIMIT/SANC AMT'],errors='coerce')
l_all['CREDIT-LIMIT/SANC AMT'] = l_all['CREDIT-LIMIT/SANC AMT'].fillna(l_all['CREDIT-LIMIT/SANC AMT'].mean())
l_all['DISBURSED-AMT/HIGH CREDIT']=pd.to_numeric(l_all['DISBURSED-AMT/HIGH CREDIT'],errors='coerce')
l_all['DISBURSED-AMT/HIGH CREDIT'] = l_all['DISBURSED-AMT/HIGH CREDIT'].fillna(l_all['DISBURSED-AMT/HIGH CREDIT'].mean())
l_all.isna().sum()[29:40]

CREDIT-LIMIT/SANC AMT             0
DISBURSED-AMT/HIGH CREDIT         0
INSTALLMENT-AMT              105806
CURRENT-BAL                      92
INSTALLMENT-FREQUENCY        106865
OVERDUE-AMT                   31921
WRITE-OFF-AMT                  4768
ASSET_CLASS                   75946
REPORTED DATE - HIST           4768
DPD - HIST                     4768
CUR BAL - HIST                 4768
dtype: int64

In [26]:
k=l_all['INSTALLMENT-AMT'].str.split("/",expand=True)
l_all['INSTALLMENT_AMT']=k[0]
del l_all['INSTALLMENT-AMT']
l_all['INSTALLMENT_AMT'] = l_all['INSTALLMENT_AMT'].fillna(l_all['INSTALLMENT_AMT'].mode()[0])
l_all['INSTALLMENT_AMT']=pd.to_numeric(l_all['INSTALLMENT_AMT'],errors='coerce')
l_all['INSTALLMENT_AMT'] = l_all['INSTALLMENT_AMT'].fillna(l_all['INSTALLMENT_AMT'].mean())
l_all['CURRENT-BAL']=pd.to_numeric(l_all['CURRENT-BAL'],errors='coerce')
l_all['CURRENT-BAL'] = l_all['CURRENT-BAL'].fillna(l_all['CURRENT-BAL'].mean())
l_all['INSTALLMENT-FREQUENCY'] = l_all['INSTALLMENT-FREQUENCY'].fillna(l_all['INSTALLMENT-FREQUENCY'].mode()[0])
l_all['OVERDUE-AMT']=pd.to_numeric(l_all['OVERDUE-AMT'],errors='coerce')
l_all['OVERDUE-AMT'] = l_all['OVERDUE-AMT'].fillna(l_all['OVERDUE-AMT'].mean())
l_all['WRITE-OFF-AMT'] = l_all['WRITE-OFF-AMT'].fillna(l_all['WRITE-OFF-AMT'].mean())
l_all['ASSET_CLASS'] = l_all['ASSET_CLASS'].fillna(l_all['ASSET_CLASS'].mode()[0])
l_all['REPORTED DATE - HIST'] = l_all['REPORTED DATE - HIST'].fillna(l_all['REPORTED DATE - HIST'].mode()[0])
l_all['REPORTED DATE - HIST']=l_all['REPORTED DATE - HIST'].str.replace(",","")
l_all['REPORTED DATE - HIST']=pd.to_numeric(l_all['REPORTED DATE - HIST'],errors='coerce')
l_all.drop(['DPD - HIST'],axis=1,inplace=True)
l_all['CUR BAL - HIST'] = l_all['CUR BAL - HIST'].fillna(l_all['CUR BAL - HIST'].mode()[0])
l_all['CUR BAL - HIST']=l_all['CUR BAL - HIST'].str.replace(",","")
l_all['CUR BAL - HIST']=pd.to_numeric(l_all['CUR BAL - HIST'],errors='coerce')
l_all['CUR BAL - HIST'] = l_all['CUR BAL - HIST'].fillna(l_all['CUR BAL - HIST'].mean())
l_all['AMT OVERDUE - HIST'] = l_all['AMT OVERDUE - HIST'].fillna(l_all['AMT OVERDUE - HIST'].mode()[0])
l_all['AMT OVERDUE - HIST']=l_all['AMT OVERDUE - HIST'].str.replace(",","")
l_all['AMT OVERDUE - HIST']=pd.to_numeric(l_all['AMT OVERDUE - HIST'],errors='coerce')
l_all['AMT OVERDUE - HIST'] = l_all['AMT OVERDUE - HIST'].fillna(l_all['AMT OVERDUE - HIST'].mean())
l_all['CLOSE-DT'].isnull().sum()
l_all.drop(['AMT PAID - HIST'],axis=1,inplace=True)
l_all['TENURE'] = l_all['TENURE'].fillna(l_all['TENURE'].mean())
l_all.isna().sum()[39:50]

TENURE             0
data               0
INSTALLMENT_AMT    0
dtype: int64

In [27]:
l_all.drop(['CLOSE-DT'],axis=1,inplace=True)
l_all.isnull().sum(), l_all.shape

(Frequency                        0
 InstlmentMode                    0
 LoanStatus                       0
 PaymentMode                      0
 Tenure                           0
 AssetCost                        0
 AmountFinance                    0
 DisbursalAmount                  0
 EMI                              0
 DisbursalDate                    0
 MaturityDAte                     0
 AuthDate                         0
 ManufacturerID                   0
 SupplierID                       0
 LTV                              0
 SEX                              0
 AGE                              0
 MonthlyIncome                    0
 Top-up Month                 14745
 SELF-INDICATOR                   0
 MATCH-TYPE                       0
 ACCT-TYPE                        0
 CONTRIBUTOR-TYPE                 0
 DATE-REPORTED                    0
 OWNERSHIP-IND                    0
 ACCOUNT-STATUS                   0
 DISBURSED-DT                     0
 LAST-PAYMENT-DATE                0
 CREDIT-LIMIT/SANC AMT            0
 DISBURSED-AMT/HIGH CREDIT        0
 CURRENT-BAL                      0
 INSTALLMENT-FREQUENCY            0
 OVERDUE-AMT                      0
 WRITE-OFF-AMT                    0
 ASSET_CLASS                      0
 REPORTED DATE - HIST             0
 CUR BAL - HIST                   0
 AMT OVERDUE - HIST               0
 TENURE                           0
 data                             0
 INSTALLMENT_AMT                  0
 dtype: int64, (143400, 41))

In [28]:
cat_cols=l_all.select_dtypes(['object']).columns

In [29]:
cat_cols

Index(['Frequency', 'InstlmentMode', 'LoanStatus', 'PaymentMode', 'SEX',
       'Top-up Month', 'ACCT-TYPE', 'CONTRIBUTOR-TYPE', 'OWNERSHIP-IND',
       'ACCOUNT-STATUS', 'INSTALLMENT-FREQUENCY', 'ASSET_CLASS', 'data'],
      dtype='object')

In [30]:
cat_cols = ['Frequency', 'InstlmentMode', 'LoanStatus', 'PaymentMode', 'SEX',
        'ACCT-TYPE', 'CONTRIBUTOR-TYPE', 'OWNERSHIP-IND',
       'ACCOUNT-STATUS', 'INSTALLMENT-FREQUENCY', 'ASSET_CLASS']

In [31]:
#ignoring categories with low frequencies however will result in fewer columns without 
# affecting model performance too much .

for col in cat_cols:
    freqs=l_all[col].value_counts()
    k=freqs.index[freqs>20][:-1]
    for cat in k:
        name=col+'_'+cat
        l_all[name]=(l_all[col]==cat).astype(int)
    del l_all[col]
    print(col)

Frequency
InstlmentMode
LoanStatus
PaymentMode
SEX
ACCT-TYPE
CONTRIBUTOR-TYPE
OWNERSHIP-IND
ACCOUNT-STATUS
INSTALLMENT-FREQUENCY
ASSET_CLASS

In [32]:
l_all.shape

(143400, 106)

In [33]:
l_all['Top-up Month'].unique()

array([' > 48 Months', 'No Top-up Service', '12-18 Months',
       '36-48 Months', '18-24 Months', '24-30 Months', '30-36 Months',
       nan], dtype=object)

In [34]:
l_all['Top-up Month'] = np.where(l_all['Top-up Month']==' > 48 Months',0,l_all['Top-up Month'])
l_all['Top-up Month'] = np.where(l_all['Top-up Month']=='No Top-up Service',1,l_all['Top-up Month'])
l_all['Top-up Month'] = np.where(l_all['Top-up Month']=='12-18 Months',2,l_all['Top-up Month'])
l_all['Top-up Month'] = np.where(l_all['Top-up Month']=='36-48 Months',3,l_all['Top-up Month'])
l_all['Top-up Month'] = np.where(l_all['Top-up Month']=='18-24 Months',4,l_all['Top-up Month'])
l_all['Top-up Month'] = np.where(l_all['Top-up Month']=='24-30 Months',5,l_all['Top-up Month'])
l_all['Top-up Month'] = np.where(l_all['Top-up Month']=='30-36 Months',6,l_all['Top-up Month'])

In [35]:
l_all['Top-up Month']=pd.to_numeric(l_all['Top-up Month'],errors='coerce')
l_all['Top-up Month'].dtypes

dtype('float64')

In [36]:
ld_train=l_all[l_all['data']=='train']
del ld_train['data']
ld_test=l_all[l_all['data']=='test']
ld_test.drop(['Top-up Month','data'],axis=1,inplace=True)

In [37]:
from sklearn.model_selection import train_test_split
ld_train1,ld_train2=train_test_split(ld_train,test_size=0.2,random_state=28)

In [60]:
l_all.shape

(143400, 106)

In [38]:
# Notice that only train data is used for imputing missing values in both train and test 

x_train1=ld_train1.drop('Top-up Month',axis=1)
y_train1=ld_train1['Top-up Month']

In [42]:
x_train=ld_train.drop('Top-up Month',axis=1)
y_train=ld_train['Top-up Month']

In [49]:
clf1=KNeighborsClassifier(n_neighbors=50)
clf2=RandomForestClassifier(n_estimators=200)
clf3=RandomForestClassifier(n_estimators=100)
clf4=XGBClassifier(n_estimators=150,learning_rate=.01)
clf5=XGBClassifier(n_estimators=150,learning_rate=.1)

Algos=[clf1,clf2,clf3,clf4,clf5]

In [50]:
rows=x_train.shape[0]

In [51]:
layer1=pd.DataFrame({'clf1':np.zeros(rows),'clf2':np.zeros(rows),'clf3':np.zeros(rows),
                    'clf4':np.zeros(rows),'clf5':np.zeros(rows)})

In [52]:
layer1

        clf1  clf2  clf3  clf4  clf5
0        0.0   0.0   0.0   0.0   0.0
1        0.0   0.0   0.0   0.0   0.0
2        0.0   0.0   0.0   0.0   0.0
3        0.0   0.0   0.0   0.0   0.0
4        0.0   0.0   0.0   0.0   0.0
...      ...   ...   ...   ...   ...
128650   0.0   0.0   0.0   0.0   0.0
128651   0.0   0.0   0.0   0.0   0.0
128652   0.0   0.0   0.0   0.0   0.0
128653   0.0   0.0   0.0   0.0   0.0
128654   0.0   0.0   0.0   0.0   0.0

[128655 rows x 5 columns]

In [53]:
kf=KFold(n_splits=10)

In [54]:
fold=1
for train,left_out_chunk in kf.split(x_train):
    print('fold number : ', fold)
    
    for i,clf in enumerate(Algos):
        print('Algo number :',i+1)
        
        x_train_train=x_train.loc[train]
        y_train_train=y_train[train]
        x_train_left_out_chunk=x_train.loc[left_out_chunk]
        
        clf.fit(x_train_train,y_train_train)
        p=clf.predict_proba(x_train_left_out_chunk)[:,1]
        
        layer1.iloc[left_out_chunk,i]=p
        
    fold+=1

fold number :  1
Algo number : 1
Algo number : 2

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').