In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import StandardScaler

In [2]:
train_bureau = pd.read_excel('C:/Users/user/Downloads/Analytic Vidya Hackthon/Train/Train/train_bureau.xlsx')
train_bureau.head()

,ID,SELF-INDICATOR,MATCH-TYPE,ACCT-TYPE,CONTRIBUTOR-TYPE,DATE-REPORTED,OWNERSHIP-IND,ACCOUNT-STATUS,DISBURSED-DT,CLOSE-DT,...,INSTALLMENT-FREQUENCY,OVERDUE-AMT,WRITE-OFF-AMT,ASSET_CLASS,REPORTED DATE - HIST,DPD - HIST,CUR BAL - HIST,AMT OVERDUE - HIST,AMT PAID - HIST,TENURE
0,1,False,PRIMARY,Overdraft,NAB,2018-04-30,Individual,Delinquent,2015-10-05,NaN,...,NaN,"37,873",0.0,Standard,"20180430,20180331,",030000,"37873,12820,","37873,,",",,",NaN
1,1,False,PRIMARY,Auto Loan (Personal),NAB,2019-12-31,Individual,Active,2018-03-19,NaN,...,F03,NaN,0.0,Standard,"20191231,20191130,20191031,20190930,20190831,2...",0000000000000000000000000000000000000000000000...,"20797,21988,23174,24341,25504,26648,27780,2891...",",,,,,,,,,,,,,,,,,,,,1452,,",",,,,,,,,,,,,,,,,,,,,,,",36.0
2,1,True,PRIMARY,Tractor Loan,NBF,2020-01-31,Individual,Active,2019-08-30,NaN,...,NaN,0,0.0,NaN,"20200131,20191231,20191130,20191031,20190930,2...",000000000000000000,"116087,116087,145000,145000,145000,145000,","0,0,0,0,0,0,",",,,,,,",NaN
3,1,True,PRIMARY,Auto Loan (Personal),NBF,2017-09-30,Individual,Closed,2013-09-27,2017-09-21 00:00:00,...,NaN,0,0.0,NaN,"20170930,20170801,20170731,20170630,20170531,2...",000DDD0270260270260270240270270000320000000000...,"0,,15925,23754,31494,39147,46713,54194,61590,6...","0,,1014,1014,1014,1014,1014,1014,1014,983,0,92...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",NaN
4,1,True,PRIMARY,Tractor Loan,NBF,2016-02-29,Individual,Closed,2012-02-10,2016-02-01 00:00:00,...,NaN,0,0.0,NaN,"20160229,20160131,20151231,20151130,20151031,2...",0000000000000000000000000000000000000000000000...,"0,0,23658,23321,22989,46321,45662,45012,68030,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",NaN

In [3]:
train_data = pd.read_excel('C:/Users/user/Downloads/Analytic Vidya Hackthon/Train/Train/train_Data.xlsx')
train_data.head()

,ID,Frequency,InstlmentMode,LoanStatus,PaymentMode,BranchID,Area,Tenure,AssetCost,AmountFinance,...,ManufacturerID,SupplierID,LTV,SEX,AGE,MonthlyIncome,City,State,ZiPCODE,Top-up Month
0,1,Monthly,Arrear,Closed,PDC_E,1,NaN,48,450000,275000.0,...,1568,21946,61.11,M,49.0,35833.33,RAISEN,MADHYA PRADESH,464993.0,> 48 Months
1,2,Monthly,Advance,Closed,PDC,333,BHOPAL,47,485000,350000.0,...,1062,34802,70.00,M,23.0,666.67,SEHORE,MADHYA PRADESH,466001.0,No Top-up Service
2,3,Quatrly,Arrear,Active,Direct Debit,1,NaN,68,690000,519728.0,...,1060,127335,69.77,M,39.0,45257.00,BHOPAL,MADHYA PRADESH,462030.0,12-18 Months
3,7,Monthly,Advance,Closed,Billed,125,GUNA,48,480000,400000.0,...,1060,25094,80.92,M,24.0,20833.33,ASHOK NAGAR,MADHYA PRADESH,473335.0,> 48 Months
4,8,Monthly,Arrear,Closed,Billed,152,BILASPUR,44,619265,440000.0,...,1046,21853,71.05,M,56.0,27313.67,BILASPUR,CHATTISGARH,495442.0,36-48 Months

In [4]:
test_bureau = pd.read_excel('C:/Users/user/Downloads/Analytic Vidya Hackthon/Test/test_bureau.xlsx')
test_bureau.head()

,ID,SELF-INDICATOR,MATCH-TYPE,ACCT-TYPE,CONTRIBUTOR-TYPE,DATE-REPORTED,OWNERSHIP-IND,ACCOUNT-STATUS,DISBURSED-DT,CLOSE-DT,...,INSTALLMENT-FREQUENCY,OVERDUE-AMT,WRITE-OFF-AMT,ASSET_CLASS,REPORTED DATE - HIST,DPD - HIST,CUR BAL - HIST,AMT OVERDUE - HIST,AMT PAID - HIST,TENURE
0,4,False,PRIMARY,Credit Card,CCC,2019-11-17,Individual,Active,2019-09-26,NaN,...,NaN,0,0.0,NaN,"20191117,",000,"589,","0,","0,",NaN
1,4,False,PRIMARY,Housing Loan,HFC,2019-10-31,Joint,Active,2017-06-21,NaN,...,F03,0,0.0,NaN,"20191031,20190930,20190831,20190731,20190630,2...",0000000000000000000000000000000000000000000000...,"2107227,2122196,2136877,2151448,2165910,218026...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,",120.0
2,4,False,PRIMARY,Property Loan,HFC,2019-10-31,Joint,Active,2017-06-27,NaN,...,F03,0,0.0,NaN,"20191031,20190930,20190831,20190731,20190630,2...",0000000000000000000000000000000000000000000000...,"83458,84051,84632,85209,85781,86349,86913,8747...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,",120.0
3,4,True,PRIMARY,Tractor Loan,NBF,2015-10-31,Individual,Closed,2011-12-29,2015-10-13 00:00:00,...,NaN,0,0.0,NaN,"20151031,20150901,20150831,20150731,20150630,2...",000DDD0270000000000000000000000000000000000000...,"0,,21548,32097,42500,52758,62874,72850,82688,9...","0,,11000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",NaN
4,5,False,PRIMARY,Gold Loan,PRB,2017-08-31,Individual,Closed,2016-05-04,2017-06-15 00:00:00,...,NaN,0,0.0,NaN,"20170630,20170501,20170401,20170331,20170201,2...",000DDDDDD000DDDDDD000DDDDDD000DDDDDD000,"0,,,25846,,,25846,,,25846,,,25846,","0,,,0,,,0,,,0,,,0",",,,,,,,,,,,,,,",NaN

In [5]:
test_data = pd.read_excel('C:/Users/user/Downloads/Analytic Vidya Hackthon/Test/test_data.xlsx')
test_data.head()

,ID,Frequency,InstlmentMode,LoanStatus,PaymentMode,BranchID,Area,Tenure,AssetCost,AmountFinance,...,AssetID,ManufacturerID,SupplierID,LTV,SEX,AGE,MonthlyIncome,City,State,ZiPCODE
0,4,Monthly,Advance,Closed,PDC_E,2,GUNA,46,480000,365000.0,...,3524747,1046.0,22354,75.83,M,50.0,32069.00,GUNA,MADHYA PRADESH,473001.0
1,5,Monthly,Advance,Closed,PDC,2,GUNA,45,480000,285000.0,...,4985862,1046.0,22354,57.44,M,35.0,25000.00,GUNA,MADHYA PRADESH,473001.0
2,6,Quatrly,Arrear,Closed,PDC,2,GUNA,48,580000,400000.0,...,12881783,1060.0,65929,68.97,M,37.0,23333.33,GUNA,MADHYA PRADESH,473001.0
3,25,Half Yearly,Arrear,Closed,Billed,154,NaN,36,725000,500000.0,...,10613776,1049.0,68597,61.79,M,55.0,91666.67,MAHASAMUND,CHATTISGARH,493558.0
4,119,Quatrly,Arrear,Closed,PDC,194,CUTTACK,48,617000,400000.0,...,7911110,1049.0,38493,59.09,M,48.0,12500.00,JAGATSINGHAPUR,ORISSA,754137.0

In [6]:
train_bureau.shape, train_data.shape

((560844, 25), (128655, 26))

In [7]:
test_bureau.shape, test_data.shape

((64019, 25), (14745, 25))

In [8]:
train_data.columns

Index(['ID', 'Frequency', 'InstlmentMode', 'LoanStatus', 'PaymentMode',
       'BranchID', 'Area', 'Tenure', 'AssetCost', 'AmountFinance',
       'DisbursalAmount', 'EMI', 'DisbursalDate', 'MaturityDAte', 'AuthDate',
       'AssetID', 'ManufacturerID', 'SupplierID', 'LTV', 'SEX', 'AGE',
       'MonthlyIncome', 'City', 'State', 'ZiPCODE', 'Top-up Month'],
      dtype='object')

In [9]:
train_bureau.columns

Index(['ID', 'SELF-INDICATOR', 'MATCH-TYPE', 'ACCT-TYPE', 'CONTRIBUTOR-TYPE',
       'DATE-REPORTED', 'OWNERSHIP-IND', 'ACCOUNT-STATUS', 'DISBURSED-DT',
       'CLOSE-DT', 'LAST-PAYMENT-DATE', 'CREDIT-LIMIT/SANC AMT',
       'DISBURSED-AMT/HIGH CREDIT', 'INSTALLMENT-AMT', 'CURRENT-BAL',
       'INSTALLMENT-FREQUENCY', 'OVERDUE-AMT', 'WRITE-OFF-AMT', 'ASSET_CLASS',
       'REPORTED DATE - HIST', 'DPD - HIST', 'CUR BAL - HIST',
       'AMT OVERDUE - HIST', 'AMT PAID - HIST', 'TENURE'],
      dtype='object')

In [10]:
train_data['ID1'] = train_bureau['ID']
train_data['SELF-INDICATOR'] = train_bureau['SELF-INDICATOR']
train_data['MATCH-TYPE'] = train_bureau['MATCH-TYPE']
train_data['ACCT-TYPE'] = train_bureau['ACCT-TYPE']
train_data['CONTRIBUTOR-TYPE'] = train_bureau['CONTRIBUTOR-TYPE']
train_data['DATE-REPORTED'] = train_bureau['DATE-REPORTED']
train_data['OWNERSHIP-IND'] = train_bureau['OWNERSHIP-IND']
train_data['ACCOUNT-STATUS'] = train_bureau['ACCOUNT-STATUS']
train_data['DISBURSED-DT'] = train_bureau['DISBURSED-DT']
train_data['CLOSE-DT'] = train_bureau['CLOSE-DT']
train_data['LAST-PAYMENT-DATE'] = train_bureau['LAST-PAYMENT-DATE']
train_data['CREDIT-LIMIT/SANC AMT'] = train_bureau['CREDIT-LIMIT/SANC AMT']
train_data['DISBURSED-AMT/HIGH CREDIT'] = train_bureau['DISBURSED-AMT/HIGH CREDIT']
train_data['INSTALLMENT-AMT'] = train_bureau['INSTALLMENT-AMT']
train_data['CURRENT-BAL'] = train_bureau['CURRENT-BAL']
train_data['INSTALLMENT-FREQUENCY'] = train_bureau['INSTALLMENT-FREQUENCY']
train_data['OVERDUE-AMT'] = train_bureau['OVERDUE-AMT']
train_data['WRITE-OFF-AMT'] = train_bureau['WRITE-OFF-AMT']
train_data['ASSET_CLASS'] = train_bureau['ASSET_CLASS']
train_data['REPORTED DATE - HIST'] = train_bureau['REPORTED DATE - HIST']
train_data['DPD - HIST'] = train_bureau['DPD - HIST']
train_data['CUR BAL - HIST'] = train_bureau['CUR BAL - HIST']
train_data['AMT OVERDUE - HIST'] = train_bureau['AMT OVERDUE - HIST']
train_data['AMT PAID - HIST'] = train_bureau['AMT PAID - HIST']
train_data['TENURE'] = train_bureau['TENURE']

In [11]:
train_data.shape

(128655, 51)

In [12]:
test_data.columns

Index(['ID', 'Frequency', 'InstlmentMode', 'LoanStatus', 'PaymentMode',
       'BranchID', 'Area', 'Tenure', 'AssetCost', 'AmountFinance',
       'DisbursalAmount', 'EMI', 'DisbursalDate', 'MaturityDAte', 'AuthDate',
       'AssetID', 'ManufacturerID', 'SupplierID', 'LTV', 'SEX', 'AGE',
       'MonthlyIncome', 'City', 'State', 'ZiPCODE'],
      dtype='object')

In [13]:
test_bureau.columns

Index(['ID', 'SELF-INDICATOR', 'MATCH-TYPE', 'ACCT-TYPE', 'CONTRIBUTOR-TYPE',
       'DATE-REPORTED', 'OWNERSHIP-IND', 'ACCOUNT-STATUS', 'DISBURSED-DT',
       'CLOSE-DT', 'LAST-PAYMENT-DATE', 'CREDIT-LIMIT/SANC AMT',
       'DISBURSED-AMT/HIGH CREDIT', 'INSTALLMENT-AMT', 'CURRENT-BAL',
       'INSTALLMENT-FREQUENCY', 'OVERDUE-AMT', 'WRITE-OFF-AMT', 'ASSET_CLASS',
       'REPORTED DATE - HIST', 'DPD - HIST', 'CUR BAL - HIST',
       'AMT OVERDUE - HIST', 'AMT PAID - HIST', 'TENURE'],
      dtype='object')

In [14]:
test_data['ID1'] = test_bureau['ID']
test_data['SELF-INDICATOR'] = test_bureau['SELF-INDICATOR']
test_data['MATCH-TYPE'] = test_bureau['MATCH-TYPE']
test_data['ACCT-TYPE'] = test_bureau['ACCT-TYPE']
test_data['CONTRIBUTOR-TYPE'] = test_bureau['CONTRIBUTOR-TYPE']
test_data['DATE-REPORTED'] = test_bureau['DATE-REPORTED']
test_data['OWNERSHIP-IND'] = test_bureau['OWNERSHIP-IND']
test_data['ACCOUNT-STATUS'] = test_bureau['ACCOUNT-STATUS']
test_data['DISBURSED-DT'] = test_bureau['DISBURSED-DT']
test_data['CLOSE-DT'] = test_bureau['CLOSE-DT']
test_data['LAST-PAYMENT-DATE'] = test_bureau['LAST-PAYMENT-DATE']
test_data['CREDIT-LIMIT/SANC AMT'] = test_bureau['CREDIT-LIMIT/SANC AMT']
test_data['DISBURSED-AMT/HIGH CREDIT'] = test_bureau['DISBURSED-AMT/HIGH CREDIT']
test_data['INSTALLMENT-AMT'] = test_bureau['INSTALLMENT-AMT']
test_data['CURRENT-BAL'] = test_bureau['CURRENT-BAL']
test_data['INSTALLMENT-FREQUENCY'] = test_bureau['INSTALLMENT-FREQUENCY']
test_data['OVERDUE-AMT'] = test_bureau['OVERDUE-AMT']
test_data['WRITE-OFF-AMT'] = test_bureau['WRITE-OFF-AMT']
test_data['ASSET_CLASS'] = test_bureau['ASSET_CLASS']
test_data['REPORTED DATE - HIST'] = test_bureau['REPORTED DATE - HIST']
test_data['DPD - HIST'] = test_bureau['DPD - HIST']
test_data['CUR BAL - HIST'] = test_bureau['CUR BAL - HIST']
test_data['AMT OVERDUE - HIST'] = test_bureau['AMT OVERDUE - HIST']
test_data['AMT PAID - HIST'] = test_bureau['AMT PAID - HIST']
test_data['TENURE'] = test_bureau['TENURE']

In [15]:
test_data.shape, train_data.shape

((14745, 50), (128655, 51))

In [16]:
test_data['Top-up Month']=np.nan
train_data['data']='train'
test_data['data']='test'
test_data=test_data[train_data.columns]
l_all=pd.concat([train_data,test_data],axis=0)

In [40]:
test_data['Top-up Month']=np.nan
train_data['data']='train'
test_data['data']='test'
test_data=test_data[train_data.columns]
l_all_all=pd.concat([train_data,test_data],axis=0)

In [44]:
 l_all_all['CLOSE-DT'] = l_all_all['CLOSE-DT'].fillna(l_all_all['CLOSE-DT'].mode()[0])

In [57]:
l_all_all['CLOSE-DT']

0        2015-07-01 00:00:00
1        2015-07-01 00:00:00
2        2015-07-01 00:00:00
3        2017-09-21 00:00:00
4        2016-02-01 00:00:00
                ...
14740    2015-07-01 00:00:00
14741    2015-07-01 00:00:00
14742    2015-07-01 00:00:00
14743    2015-07-01 00:00:00
14744    2015-07-01 00:00:00
Name: CLOSE-DT, Length: 143400, dtype: object

In [60]:
l_all_all['CLOSE-DT'].str.replace(":","").astype(int) # print (quote)

In [64]:
# d=pd.to_datetime(pd.Series([l_all_all['CLOSE-DT'], None]))
%timeit pd.to_datetime(l_all_all['CLOSE-DT'], infer_datetime_format=True)

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 2999-01-01 00:00:00

In [17]:
l_all.shape

(143400, 52)

In [18]:
pd.set_option('display.max_columns', 100)
l_all.head()

,ID,Frequency,InstlmentMode,LoanStatus,PaymentMode,BranchID,Area,Tenure,AssetCost,AmountFinance,DisbursalAmount,EMI,DisbursalDate,MaturityDAte,AuthDate,AssetID,ManufacturerID,SupplierID,LTV,SEX,AGE,MonthlyIncome,City,State,ZiPCODE,Top-up Month,ID1,SELF-INDICATOR,MATCH-TYPE,ACCT-TYPE,CONTRIBUTOR-TYPE,DATE-REPORTED,OWNERSHIP-IND,ACCOUNT-STATUS,DISBURSED-DT,CLOSE-DT,LAST-PAYMENT-DATE,CREDIT-LIMIT/SANC AMT,DISBURSED-AMT/HIGH CREDIT,INSTALLMENT-AMT,CURRENT-BAL,INSTALLMENT-FREQUENCY,OVERDUE-AMT,WRITE-OFF-AMT,ASSET_CLASS,REPORTED DATE - HIST,DPD - HIST,CUR BAL - HIST,AMT OVERDUE - HIST,AMT PAID - HIST,TENURE,data
0,1,Monthly,Arrear,Closed,PDC_E,1,NaN,48,450000,275000.0,275000.0,24000.0,2012-02-10,2016-01-15,2012-02-10,4022465,1568.0,21946,61.11,M,49.0,35833.33,RAISEN,MADHYA PRADESH,464993.0,> 48 Months,1,False,PRIMARY,Overdraft,NAB,2018-04-30,Individual,Delinquent,2015-10-05,NaN,2018-02-27,NaN,"37,352",NaN,"37,873",NaN,"37,873",0.0,Standard,"20180430,20180331,",030000,"37873,12820,","37873,,",",,",NaN,train
1,2,Monthly,Advance,Closed,PDC,333,BHOPAL,47,485000,350000.0,350000.0,10500.0,2012-03-31,2016-02-15,2012-03-31,4681175,1062.0,34802,70.00,M,23.0,666.67,SEHORE,MADHYA PRADESH,466001.0,No Top-up Service,1,False,PRIMARY,Auto Loan (Personal),NAB,2019-12-31,Individual,Active,2018-03-19,NaN,2019-12-19,NaN,"44,000","1,405/Monthly","20,797",F03,NaN,0.0,Standard,"20191231,20191130,20191031,20190930,20190831,2...",0000000000000000000000000000000000000000000000...,"20797,21988,23174,24341,25504,26648,27780,2891...",",,,,,,,,,,,,,,,,,,,,1452,,",",,,,,,,,,,,,,,,,,,,,,,",36.0,train
2,3,Quatrly,Arrear,Active,Direct Debit,1,NaN,68,690000,519728.0,519728.0,38300.0,2017-06-17,2023-02-10,2017-06-17,25328146,1060.0,127335,69.77,M,39.0,45257.00,BHOPAL,MADHYA PRADESH,462030.0,12-18 Months,1,True,PRIMARY,Tractor Loan,NBF,2020-01-31,Individual,Active,2019-08-30,NaN,NaT,NaN,"1,45,000",NaN,"1,16,087",NaN,0,0.0,NaN,"20200131,20191231,20191130,20191031,20190930,2...",000000000000000000,"116087,116087,145000,145000,145000,145000,","0,0,0,0,0,0,",",,,,,,",NaN,train
3,7,Monthly,Advance,Closed,Billed,125,GUNA,48,480000,400000.0,400000.0,11600.0,2013-11-29,2017-11-10,2013-11-29,13021591,1060.0,25094,80.92,M,24.0,20833.33,ASHOK NAGAR,MADHYA PRADESH,473335.0,> 48 Months,1,True,PRIMARY,Auto Loan (Personal),NBF,2017-09-30,Individual,Closed,2013-09-27,2017-09-21 00:00:00,NaT,NaN,"3,00,000",NaN,0,NaN,0,0.0,NaN,"20170930,20170801,20170731,20170630,20170531,2...",000DDD0270260270260270240270270000320000000000...,"0,,15925,23754,31494,39147,46713,54194,61590,6...","0,,1014,1014,1014,1014,1014,1014,1014,983,0,92...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",NaN,train
4,8,Monthly,Arrear,Closed,Billed,152,BILASPUR,44,619265,440000.0,440000.0,15000.0,2011-12-08,2015-07-05,2011-12-08,3291320,1046.0,21853,71.05,M,56.0,27313.67,BILASPUR,CHATTISGARH,495442.0,36-48 Months,1,True,PRIMARY,Tractor Loan,NBF,2016-02-29,Individual,Closed,2012-02-10,2016-02-01 00:00:00,NaT,NaN,"2,75,000",NaN,0,NaN,0,0.0,NaN,"20160229,20160131,20151231,20151130,20151031,2...",0000000000000000000000000000000000000000000000...,"0,0,23658,23321,22989,46321,45662,45012,68030,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",NaN,train

In [19]:
pd.set_option('display.max_rows', 100)

l_all.dtypes

ID                                    int64
Frequency                            object
InstlmentMode                        object
LoanStatus                           object
PaymentMode                          object
BranchID                              int64
Area                                 object
Tenure                                int64
AssetCost                             int64
AmountFinance                       float64
DisbursalAmount                     float64
EMI                                 float64
DisbursalDate                datetime64[ns]
MaturityDAte                 datetime64[ns]
AuthDate                     datetime64[ns]
AssetID                               int64
ManufacturerID                      float64
SupplierID                            int64
LTV                                 float64
SEX                                  object
AGE                                 float64
MonthlyIncome                       float64
City                                 object
State                                object
ZiPCODE                             float64
Top-up Month                         object
ID1                                   int64
SELF-INDICATOR                         bool
MATCH-TYPE                           object
ACCT-TYPE                            object
CONTRIBUTOR-TYPE                     object
DATE-REPORTED                datetime64[ns]
OWNERSHIP-IND                        object
ACCOUNT-STATUS                       object
DISBURSED-DT                 datetime64[ns]
CLOSE-DT                             object
LAST-PAYMENT-DATE            datetime64[ns]
CREDIT-LIMIT/SANC AMT                object
DISBURSED-AMT/HIGH CREDIT            object
INSTALLMENT-AMT                      object
CURRENT-BAL                          object
INSTALLMENT-FREQUENCY                object
OVERDUE-AMT                          object
WRITE-OFF-AMT                       float64
ASSET_CLASS                          object
REPORTED DATE - HIST                 object
DPD - HIST                           object
CUR BAL - HIST                       object
AMT OVERDUE - HIST                   object
AMT PAID - HIST                      object
TENURE                              float64
data                                 object
dtype: object

In [20]:
l_all.shape

(143400, 52)

In [21]:
l_all.isna().sum()[0:10]

ID                   0
Frequency            0
InstlmentMode        0
LoanStatus           0
PaymentMode          0
BranchID             0
Area             12199
Tenure               0
AssetCost            0
AmountFinance        0
dtype: int64

In [22]:
l_all['Area'].nunique()

103

In [23]:
l_all.isna().sum()[0:10]

ID                   0
Frequency            0
InstlmentMode        0
LoanStatus           0
PaymentMode          0
BranchID             0
Area             12199
Tenure               0
AssetCost            0
AmountFinance        0
dtype: int64

In [24]:
l_all['Area'] = l_all['Area'].fillna(l_all['Area'].mode()[0])

In [25]:
l_all.isna().sum()[9:20]

AmountFinance       0
DisbursalAmount     0
EMI                 0
DisbursalDate       0
MaturityDAte        1
AuthDate            0
AssetID             0
ManufacturerID      2
SupplierID          0
LTV                 0
SEX                64
dtype: int64

In [26]:
l_all['MaturityDAte'] = l_all['MaturityDAte'].fillna(l_all['MaturityDAte'].mode()[0])
l_all['ManufacturerID'] = l_all['ManufacturerID'].fillna(l_all['ManufacturerID'].mean())
l_all['SEX'] = l_all['SEX'].fillna(l_all['SEX'].mode()[0])
l_all['AGE'] = l_all['AGE'].fillna(l_all['AGE'].mean())
l_all['MaturityDAte']=pd.to_numeric(l_all['MaturityDAte'],errors='coerce')
l_all['DisbursalDate']=pd.to_numeric(l_all['DisbursalDate'],errors='coerce')

In [27]:
l_all.isna().sum()[19:30]

SEX                   0
AGE                   0
MonthlyIncome       248
City              11256
State                 0
ZiPCODE             373
Top-up Month      14745
ID1                   0
SELF-INDICATOR        0
MATCH-TYPE            0
ACCT-TYPE             0
dtype: int64

In [28]:
l_all['City'].nunique()

514

In [29]:
l_all['MonthlyIncome'] = l_all['MonthlyIncome'].fillna(l_all['MonthlyIncome'].mean())
l_all['ZiPCODE'] = l_all['ZiPCODE'].fillna(l_all['ZiPCODE'].mean())
l_all['DATE-REPORTED'] = l_all['DATE-REPORTED'].fillna(l_all['DATE-REPORTED'].mode()[0])
l_all['DATE-REPORTED']=pd.to_numeric(l_all['DATE-REPORTED'],errors='coerce')
l_all['City'] = l_all['City'].fillna(l_all['City'].mode()[0])

In [31]:
l_all.isna().sum()[29:40]

ACCT-TYPE                         0
CONTRIBUTOR-TYPE                  0
DATE-REPORTED                     0
OWNERSHIP-IND                     0
ACCOUNT-STATUS                    0
DISBURSED-DT                   5658
CLOSE-DT                      57732
LAST-PAYMENT-DATE             76822
CREDIT-LIMIT/SANC AMT        139673
DISBURSED-AMT/HIGH CREDIT        29
INSTALLMENT-AMT              105806
dtype: int64

In [32]:
l_all['CLOSE-DT'].dtypes

dtype('O')

In [35]:
l_all['CLOSE-DT'] = l_all['CLOSE-DT'].fillna(l_all['CLOSE-DT'].mode()[0])

In [37]:
l_all['CLOSE-DT']=pd.to_numeric(l_all['CLOSE-DT'],errors='coerce')

In [39]:
l_all['CLOSE-DT'].unique()

array([nan])

In [34]:
# l_all['CLOSE-DT']=pd.to_numeric(l_all['CLOSE-DT'],errors='coerce')
l_all.drop(['CLOSE-DT'],axis=1,inplace=True)

In [35]:
l_all['DISBURSED-DT'] = l_all['DISBURSED-DT'].fillna(l_all['DISBURSED-DT'].mode()[0])
l_all['DISBURSED-DT']=pd.to_numeric(l_all['DISBURSED-DT'],errors='coerce')
l_all['LAST-PAYMENT-DATE'] = l_all['LAST-PAYMENT-DATE'].fillna(l_all['LAST-PAYMENT-DATE'].mode()[0])
l_all['DISBURSED-DT']=pd.to_numeric(l_all['DISBURSED-DT'],errors='coerce')
l_all['CREDIT-LIMIT/SANC AMT']=pd.to_numeric(l_all['CREDIT-LIMIT/SANC AMT'],errors='coerce')
l_all['CREDIT-LIMIT/SANC AMT'] = l_all['CREDIT-LIMIT/SANC AMT'].fillna(l_all['CREDIT-LIMIT/SANC AMT'].mean())
l_all['DISBURSED-AMT/HIGH CREDIT']=pd.to_numeric(l_all['DISBURSED-AMT/HIGH CREDIT'],errors='coerce')
l_all['DISBURSED-AMT/HIGH CREDIT'] = l_all['DISBURSED-AMT/HIGH CREDIT'].fillna(l_all['DISBURSED-AMT/HIGH CREDIT'].mean())
l_all['INSTALLMENT-AMT'] = l_all['INSTALLMENT-AMT'].fillna(l_all['INSTALLMENT-AMT'].mode()[0])
l_all['CURRENT-BAL']=pd.to_numeric(l_all['CURRENT-BAL'],errors='coerce')
l_all['CURRENT-BAL'] = l_all['CURRENT-BAL'].fillna(l_all['CURRENT-BAL'].mean())
l_all['INSTALLMENT-FREQUENCY'] = l_all['INSTALLMENT-FREQUENCY'].fillna(l_all['INSTALLMENT-FREQUENCY'].mode()[0])

In [36]:
l_all.isna().sum()[39:60]

CURRENT-BAL                  0
INSTALLMENT-FREQUENCY        0
OVERDUE-AMT              31921
WRITE-OFF-AMT             4768
ASSET_CLASS              75946
REPORTED DATE - HIST      4768
DPD - HIST                4768
CUR BAL - HIST            4768
AMT OVERDUE - HIST        4768
AMT PAID - HIST           5012
TENURE                   92603
data                         0
dtype: int64

In [37]:
l_all['OVERDUE-AMT']=pd.to_numeric(l_all['OVERDUE-AMT'],errors='coerce')
l_all['OVERDUE-AMT'] = l_all['OVERDUE-AMT'].fillna(l_all['OVERDUE-AMT'].mean())
l_all['WRITE-OFF-AMT'] = l_all['WRITE-OFF-AMT'].fillna(l_all['WRITE-OFF-AMT'].mean())
l_all['ASSET_CLASS'] = l_all['ASSET_CLASS'].fillna(l_all['ASSET_CLASS'].mode()[0])
l_all.drop(['REPORTED DATE - HIST'],axis=1,inplace=True)
l_all.drop(['DPD - HIST'],axis=1,inplace=True)
l_all['CUR BAL - HIST']=pd.to_numeric(l_all['CUR BAL - HIST'],errors='coerce')
l_all['CUR BAL - HIST'] = l_all['CUR BAL - HIST'].fillna(l_all['CUR BAL - HIST'].mean())
l_all.drop(['CUR BAL - HIST'],axis=1,inplace=True)
l_all.drop(['AMT OVERDUE - HIST'],axis=1,inplace=True)
l_all.drop(['AMT PAID - HIST'],axis=1,inplace=True)
l_all['TENURE'] = l_all['TENURE'].fillna(l_all['TENURE'].mean())
l_all['AuthDate']=pd.to_numeric(l_all['AuthDate'],errors='coerce')
l_all['LAST-PAYMENT-DATE']=pd.to_numeric(l_all['LAST-PAYMENT-DATE'],errors='coerce')

In [38]:
l_all.dtypes

ID                             int64
Frequency                     object
InstlmentMode                 object
LoanStatus                    object
PaymentMode                   object
BranchID                       int64
Area                          object
Tenure                         int64
AssetCost                      int64
AmountFinance                float64
DisbursalAmount              float64
EMI                          float64
DisbursalDate                  int64
MaturityDAte                   int64
AuthDate                       int64
AssetID                        int64
ManufacturerID               float64
SupplierID                     int64
LTV                          float64
SEX                           object
AGE                          float64
MonthlyIncome                float64
City                          object
State                         object
ZiPCODE                      float64
Top-up Month                  object
ID1                            int64
SELF-INDICATOR                  bool
MATCH-TYPE                    object
ACCT-TYPE                     object
CONTRIBUTOR-TYPE              object
DATE-REPORTED                  int64
OWNERSHIP-IND                 object
ACCOUNT-STATUS                object
DISBURSED-DT                   int64
LAST-PAYMENT-DATE              int64
CREDIT-LIMIT/SANC AMT        float64
DISBURSED-AMT/HIGH CREDIT    float64
INSTALLMENT-AMT               object
CURRENT-BAL                  float64
INSTALLMENT-FREQUENCY         object
OVERDUE-AMT                  float64
WRITE-OFF-AMT                float64
ASSET_CLASS                   object
TENURE                       float64
data                          object
dtype: object

In [39]:
l_all.isnull().sum()

ID                               0
Frequency                        0
InstlmentMode                    0
LoanStatus                       0
PaymentMode                      0
BranchID                         0
Area                             0
Tenure                           0
AssetCost                        0
AmountFinance                    0
DisbursalAmount                  0
EMI                              0
DisbursalDate                    0
MaturityDAte                     0
AuthDate                         0
AssetID                          0
ManufacturerID                   0
SupplierID                       0
LTV                              0
SEX                              0
AGE                              0
MonthlyIncome                    0
City                             0
State                            0
ZiPCODE                          0
Top-up Month                 14745
ID1                              0
SELF-INDICATOR                   0
MATCH-TYPE                       0
ACCT-TYPE                        0
CONTRIBUTOR-TYPE                 0
DATE-REPORTED                    0
OWNERSHIP-IND                    0
ACCOUNT-STATUS                   0
DISBURSED-DT                     0
LAST-PAYMENT-DATE                0
CREDIT-LIMIT/SANC AMT            0
DISBURSED-AMT/HIGH CREDIT        0
INSTALLMENT-AMT                  0
CURRENT-BAL                      0
INSTALLMENT-FREQUENCY            0
OVERDUE-AMT                      0
WRITE-OFF-AMT                    0
ASSET_CLASS                      0
TENURE                           0
data                             0
dtype: int64

In [40]:
cat_cols=l_all.select_dtypes(['object']).columns

In [41]:
cat_cols

Index(['Frequency', 'InstlmentMode', 'LoanStatus', 'PaymentMode', 'Area',
       'SEX', 'City', 'State', 'Top-up Month', 'MATCH-TYPE', 'ACCT-TYPE',
       'CONTRIBUTOR-TYPE', 'OWNERSHIP-IND', 'ACCOUNT-STATUS',
       'INSTALLMENT-AMT', 'INSTALLMENT-FREQUENCY', 'ASSET_CLASS', 'data'],
      dtype='object')

In [42]:
cat_cols = ['Frequency', 'InstlmentMode', 'LoanStatus', 'PaymentMode', 'Area',
       'SEX', 'City', 'State', 'MATCH-TYPE', 'ACCT-TYPE',
       'CONTRIBUTOR-TYPE', 'OWNERSHIP-IND', 'ACCOUNT-STATUS',
       'INSTALLMENT-AMT', 'INSTALLMENT-FREQUENCY', 'ASSET_CLASS']

In [43]:
#ignoring categories with low frequencies however will result in fewer columns without 
# affecting model performance too much .

for col in cat_cols:
    freqs=l_all[col].value_counts()
    k=freqs.index[freqs>60][:-1]
    for cat in k:
        name=col+'_'+cat
        l_all[name]=(l_all[col]==cat).astype(int)
    del l_all[col]
    print(col)

Frequency
InstlmentMode
LoanStatus
PaymentMode
Area
SEX
City
State
MATCH-TYPE
ACCT-TYPE
CONTRIBUTOR-TYPE
OWNERSHIP-IND
ACCOUNT-STATUS
INSTALLMENT-AMT
INSTALLMENT-FREQUENCY
ASSET_CLASS

In [44]:
l_all.shape

(143400, 508)

In [45]:
l_all['Top-up Month'].unique()

array([' > 48 Months', 'No Top-up Service', '12-18 Months',
       '36-48 Months', '18-24 Months', '24-30 Months', '30-36 Months',
       nan], dtype=object)

In [46]:
l_all['Top-up Month'] = np.where(l_all['Top-up Month']==' > 48 Months',0,l_all['Top-up Month'])
l_all['Top-up Month'] = np.where(l_all['Top-up Month']=='No Top-up Service',1,l_all['Top-up Month'])
l_all['Top-up Month'] = np.where(l_all['Top-up Month']=='12-18 Months',2,l_all['Top-up Month'])
l_all['Top-up Month'] = np.where(l_all['Top-up Month']=='36-48 Months',3,l_all['Top-up Month'])
l_all['Top-up Month'] = np.where(l_all['Top-up Month']=='18-24 Months',4,l_all['Top-up Month'])
l_all['Top-up Month'] = np.where(l_all['Top-up Month']=='24-30 Months',5,l_all['Top-up Month'])
l_all['Top-up Month'] = np.where(l_all['Top-up Month']=='30-36 Months',6,l_all['Top-up Month'])

In [47]:
l_all['Top-up Month']=pd.to_numeric(l_all['Top-up Month'],errors='coerce')
l_all['Top-up Month'].dtypes

dtype('float64')

In [48]:
ld_train=l_all[l_all['data']=='train']
del ld_train['data']
ld_test=l_all[l_all['data']=='test']
ld_test.drop(['Top-up Month','data'],axis=1,inplace=True)

In [49]:

x_train=ld_train.drop('Top-up Month',axis=1)
y_train=ld_train['Top-up Month']

In [50]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 42)
classifier.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [51]:
test_pred_RF = classifier.predict(ld_test)

In [55]:
sample_sumbission = pd.read_csv("C:/Users/user/Downloads/Analytic Vidya Hackthon/sample_submission_ejm25Dc.csv")
sample_sumbission.head(10)

    ID       Top-up Month
0    4       36-48 Months
1    5       18-24 Months
2    6       30-36 Months
3   25       30-36 Months
4  119       30-36 Months
5  126       24-30 Months
6  127        > 48 Months
7  345  No Top-up Service
8  361       36-48 Months
9  393       30-36 Months

In [54]:
submission_RF = pd.DataFrame({
    'ID':sample_sumbission['ID'],
    'Top-up Month':test_pred_RF
})
submission_RF['Top-up Month'] = np.where(submission_RF['Top-up Month']==0.0,' > 48 Months',submission_RF['Top-up Month'])
submission_RF['Top-up Month'] = np.where(submission_RF['Top-up Month']=='1.0','No Top-up Service',submission_RF['Top-up Month'])
submission_RF['Top-up Month'] = np.where(submission_RF['Top-up Month']=='2.0','12-18 Months',submission_RF['Top-up Month'])
submission_RF['Top-up Month'] = np.where(submission_RF['Top-up Month']=='3.0','36-48 Months',submission_RF['Top-up Month'])
submission_RF['Top-up Month'] = np.where(submission_RF['Top-up Month']=='4.0','18-24 Months',submission_RF['Top-up Month'])
submission_RF['Top-up Month'] = np.where(submission_RF['Top-up Month']=='5.0','24-30 Months',submission_RF['Top-up Month'])
submission_RF['Top-up Month'] = np.where(submission_RF['Top-up Month']=='6.0','30-36 Months',submission_RF['Top-up Month'])

In [56]:
submission_RF.head()

    ID       Top-up Month
0    4  No Top-up Service
1    5  No Top-up Service
2    6  No Top-up Service
3   25  No Top-up Service
4  119  No Top-up Service

In [58]:
submission_RF.to_csv('RF_Final50.csv',index=False)

In [60]:
accuracy = classifier.score(x_train,y_train)
print(accuracy*100,'%')

98.17107768839143 %

In [61]:


feat_imp_df=pd.DataFrame({'features':x_train.columns,'importance':classifier.feature_importances_})

IMP=feat_imp_df.sort_values('importance',ascending=False)

In [66]:
IMP[0:100]

                                              features  importance
7                                        DisbursalDate    0.074270
10                                             AssetID    0.051823
8                                         MaturityDAte    0.049278
9                                             AuthDate    0.046603
0                                                   ID    0.032958
15                                       MonthlyIncome    0.032837
16                                             ZiPCODE    0.032575
13                                                 LTV    0.032375
6                                                  EMI    0.031976
5                                      DisbursalAmount    0.031364
20                                        DISBURSED-DT    0.030539
17                                                 ID1    0.029974
3                                            AssetCost    0.029014
12                                          SupplierID    0.027972
14                                                 AGE    0.027913
4                                        AmountFinance    0.026310
19                                       DATE-REPORTED    0.024888
2                                               Tenure    0.024444
1                                             BranchID    0.019401
21                                   LAST-PAYMENT-DATE    0.018086
32                                   LoanStatus_Closed    0.015731
11                                      ManufacturerID    0.014772
27                                              TENURE    0.014339
36                                  PaymentMode_Billed    0.007593
34                            PaymentMode_Direct Debit    0.007522
25                                         OVERDUE-AMT    0.006773
24                                         CURRENT-BAL    0.006405
33                                     PaymentMode_ECS    0.006212
452                               CONTRIBUTOR-TYPE_NBF    0.006038
464                              ACCOUNT-STATUS_Closed    0.005918
422                             ACCT-TYPE_Tractor Loan    0.005851
470                          INSTALLMENT-AMT_0/Monthly    0.005733
465                              ACCOUNT-STATUS_Active    0.005429
453                               CONTRIBUTOR-TYPE_NAB    0.005414
18                                      SELF-INDICATOR    0.005302
35                                     PaymentMode_PDC    0.005032
424  ACCT-TYPE_Business Loan Priority Sector  Agric...    0.004866
423                                ACCT-TYPE_Gold Loan    0.004694
407                               State_ANDHRA PRADESH    0.004629
454                               CONTRIBUTOR-TYPE_PRB    0.004268
461                           OWNERSHIP-IND_Individual    0.004165
28                               Frequency_Half Yearly    0.004126
29                                   Frequency_Monthly    0.003475
419                                    State_TELANGANA    0.003256
30                                   Frequency_Quatrly    0.003180
462                            OWNERSHIP-IND_Guarantor    0.003043
41                                        Area_LUCKNOW    0.002940
406                               State_MADHYA PRADESH    0.002727
23                           DISBURSED-AMT/HIGH CREDIT    0.002672
463                                OWNERSHIP-IND_Joint    0.002623
466                          ACCOUNT-STATUS_Delinquent    0.002416
426                        ACCT-TYPE_Kisan Credit Card    0.002368
425                     ACCT-TYPE_Auto Loan (Personal)    0.002348
109                                              SEX_M    0.002324
408                                State_UTTAR PRADESH    0.002301
455                               CONTRIBUTOR-TYPE_RRB    0.002238
43                                        Area_NELLORE    0.002124
427                                    ACCT-TYPE_Other    0.002104
410                                    State_KARNATAKA    0.001926
409                                    State_RAJASTHAN    0.001874
31                                InstlmentMode_Arrear    0.001871
412                                  State_MAHARASHTRA    0.001851
110                                      City_NALGONDA    0.001843
37                                   PaymentMode_PDC_E    0.001839
413                                      State_HARYANA    0.001796
26                                       WRITE-OFF-AMT    0.001785
428                  ACCT-TYPE_Commercial Vehicle Loan    0.001748
411                                      State_GUJARAT    0.001596
430                         ACCT-TYPE_Two-Wheeler Loan    0.001486
46                                     Area_MIRYALGUDA    0.001450
429                              ACCT-TYPE_Credit Card    0.001392
414                                       State_PUNJAB    0.001381
432                            ACCT-TYPE_Consumer Loan    0.001339
42                                          Area_SIRSA    0.001330
456                               CONTRIBUTOR-TYPE_COP    0.001317
55                                     Area_KARIMNAGAR    0.001313
44                                         Area_INDORE    0.001263
52                                     Area_VIJAYAWADA    0.001204
433                            ACCT-TYPE_Personal Loan    0.001191
51                                       Area_JABALPUR    0.001064
48                                       Area_MANDSAUR    0.001058
500                               ASSET_CLASS_Standard    0.001053
114                                       City_NELLORE    0.001021
415                                  State_WEST BENGAL    0.001007
50                                      Area_SINDHANUR    0.001000
416                                  State_CHATTISGARH    0.000984
63                                         Area_BHOPAL    0.000918
57                                        Area_VIDISHA    0.000914
54                                          Area_HUBLI    0.000889
112                                        City_GUNTUR    0.000865
70                                 Area_VISHAKHAPATNAM    0.000855
417                                        State_BIHAR    0.000847
431                                ACCT-TYPE_Overdraft    0.000829
115                                    City_KARIMNAGAR    0.000801
45                                         Area_KANPUR    0.000785
56                                        Area_BURDWAN    0.000775
436               ACCT-TYPE_Loan Against Bank Deposits    0.000756
111                                         City_HISAR    0.000745
59                                          Area_PATNA    0.000733
434              ACCT-TYPE_Construction Equipment Loan    0.000728

In [70]:
IMP[99:199]

                                              features  importance
434              ACCT-TYPE_Construction Equipment Loan    0.000728
467                         ACCOUNT-STATUS_Written Off    0.000724
131                                      City_CHITTOOR    0.000719
120                                       City_RAICHUR    0.000718
49                                         Area_JAIPUR    0.000716
113                                       City_NEEMUCH    0.000710
64                                      Area_JALANDHAR    0.000704
128                                      City_PRAKASAM    0.000701
67                                      Area_NIZAMABAD    0.000692
61                                       Area_GULBARGA    0.000686
118                                       City_BHIWANI    0.000686
68                                         Area_NASHIK    0.000683
22                               CREDIT-LIMIT/SANC AMT    0.000679
47                             Area_AHMEDABAD AMBAVADI    0.000678
418                                       State_ORISSA    0.000665
53                                         Area_BARODA    0.000660
501                            ASSET_CLASS_SubStandard    0.000634
123                                     City_FATEHABAD    0.000618
132                                     City_NIZAMABAD    0.000616
435                             ACCT-TYPE_Housing Loan    0.000609
119                                      City_MANDSAUR    0.000602
76                             Area_HYDERABAD BEGUMPET    0.000598
60                                   Area_BHUBANESHWAR    0.000574
72                   Area_LUDHIANA FEROZ GANDHI MARKET    0.000565
117                                       City_KHAMMAM    0.000558
129                                   City_AHMED NAGAR    0.000537
135                                       City_KURNOOL    0.000537
74                    Area_LUDHIANA   RANI JHANSI ROAD    0.000533
496                          INSTALLMENT-FREQUENCY_F03    0.000529
143                                       City_KRISHNA    0.000524
145                                      City_WARANGAL    0.000522
66                                    Area_HOSHANGABAD    0.000514
62                                         Area_RAIPUR    0.000502
122                                         City_SIRSA    0.000497
155                                       City_VIDISHA    0.000495
71                                       Area_BILASPUR    0.000490
133                                        City_RAISEN    0.000484
134                                        City_SEHORE    0.000484
164                                          City_JIND    0.000480
73                                        Area_SOLAPUR    0.000476
175                                 City_WEST GODAVARI    0.000466
130                                          City_PUNE    0.000466
125                                   City_MAHBUBNAGAR    0.000466
156                                      City_CUDDAPAH    0.000465
141                                        City_KOPPAL    0.000463
438                    ACCT-TYPE_Business Loan General    0.000456
439                            ACCT-TYPE_Used Car Loan    0.000456
80                                         Area_MYSORE    0.000453
172                                    City_SRIKAKULAM    0.000453
151                                       City_BELLARY    0.000450
77                                      Area_MANGALORE    0.000444
166                                         City_SATNA    0.000440
78                                     Area_AHMEDNAGAR    0.000439
127                                         City_SAGAR    0.000421
69                                         Area_RAJKOT    0.000411
468                          ACCOUNT-STATUS_Suit Filed    0.000410
38                              PaymentMode_Auto Debit    0.000409
144                                    City_BARDDHAMAN    0.000407
163                                    City_HOSHIARPUR    0.000390
150                                       City_SANGRUR    0.000384
457                               CONTRIBUTOR-TYPE_MFI    0.000383
137                                      City_VADODARA    0.000381
437                           ACCT-TYPE_JLG Individual    0.000380
65                                        Area_BIKANER    0.000378
170                                       City_SOLAPUR    0.000367
39                               PaymentMode_SI Reject    0.000364
176                                        City_RATLAM    0.000364
75                                         Area_NAGPUR    0.000359
185                                        City_UJJAIN    0.000358
140                                       City_BIJAPUR    0.000358
440  ACCT-TYPE_Business Loan Priority Sector  Small...    0.000357
116                                       City_JODHPUR    0.000356
161                                        City_NASHIK    0.000353
167                                      City_ADILABAD    0.000352
498                          INSTALLMENT-FREQUENCY_F01    0.000347
154                                      City_MAHESANA    0.000345
502                ASSET_CLASS_Special Mention Account    0.000345
204                                        City_RAJKOT    0.000339
503                               ASSET_CLASS_Doubtful    0.000338
497                          INSTALLMENT-FREQUENCY_F05    0.000327
183                                  City_VIZIANAGARAM    0.000325
202                                       City_PATIALA    0.000325
139                                      City_GULBARGA    0.000319
158                                     City_DAVANGARE    0.000315
126                                          City_REWA    0.000315
138                                      City_LUDHIANA    0.000314
471                   INSTALLMENT-AMT_1,00,000/Monthly    0.000314
94                                       Area_KOLHAPUR    0.000313
197                                         City_HUGLI    0.000312
216                                    City_CHHATARPUR    0.000310
95                                    Area_RAJAHMUNDRY    0.000310
124                                       City_BIKANER    0.000309
148                                       City_SHIMOGA    0.000306
171                                  City_NABARANGAPUR    0.000305
195                                        City_MYSORE    0.000303
232                                       City_KHANDWA    0.000301
441         ACCT-TYPE_Loan Against Shares / Securities    0.000299
160                                    City_AURANGABAD    0.000298
152                                   City_BANASKANTHA    0.000292
79                                     Area_CHANDIGARH    0.000291

In [71]:
IMP[199:299]

                                            features  importance
458                             CONTRIBUTOR-TYPE_HFC    0.000290
459                             CONTRIBUTOR-TYPE_CCC    0.000289
179                                    City_JAMNAGAR    0.000286
147                                       City_KHEDA    0.000283
207                               City_VISAKHAPATNAM    0.000282
85                                        Area_AKOLA    0.000282
121                                    City_SHAJAPUR    0.000279
443                          ACCT-TYPE_Property Loan    0.000278
230                                       City_DEWAS    0.000277
157                                  City_MAHASAMUND    0.000276
83                                       Area_KARNAL    0.000274
165                                       City_KHERI    0.000272
142                                 City_SABARKANTHA    0.000264
235                               City_EAST GODAVARI    0.000263
254                                     City_JALGAON    0.000257
162                                      City_RAIPUR    0.000254
276                                   City_NANDURBAR    0.000253
168                                    City_BILASPUR    0.000250
198                                       City_BETUL    0.000249
146                                     City_SITAPUR    0.000248
193                                    City_JUNAGADH    0.000246
149                                City_KANPUR DEHAT    0.000246
90                                   Area_GANDHIDHAM    0.000245
40                                PaymentMode_Cheque    0.000237
184                                       City_PATAN    0.000236
228                                    City_BAGALKOT    0.000235
192                                    City_HAMIRPUR    0.000235
81                                         Area_GUNA    0.000233
213                                 City_HOSHANGABAD    0.000231
97                               Area_PUNE APTE ROAD    0.000229
245                                      City_INDORE    0.000228
211                                 City_CHITRADURGA    0.000227
86                                   Area_AURANGABAD    0.000225
241                                     City_JHAJJAR    0.000223
301                                   City_KALAHANDI    0.000215
231                                     City_RAIGARH    0.000215
88                                     Area_DURGAPUR    0.000212
265                                      City_SATARA    0.000212
169                                        City_DHAR    0.000212
226                                  City_CHANDRAPUR    0.000211
236                                    City_KHARGONE    0.000211
173                                      City_BUDAUN    0.000208
261                                       City_DAMOH    0.000208
186                                 City_ASHOK NAGAR    0.000205
181                                      City_HAVERI    0.000204
281                                      City_PURNIA    0.000203
442  ACCT-TYPE_Business Loan Priority Sector  Others    0.000203
188                                      City_MALDAH    0.000202
277                              City_EAST CHAMPARAN    0.000202
255                                    City_JABALPUR    0.000201
227                                    City_FIROZPUR    0.000199
91                            Area_BANGALORE LALBAGH    0.000198
212                                City_PANCH MAHALS    0.000197
223                                        City_PALI    0.000191
206                                     City_RAJGARH    0.000190
200                                      City_JAIPUR    0.000190
136                                       City_AJMER    0.000189
224                                     City_KACHCHH    0.000188
225                                     City_GURGAON    0.000188
92                   Area_NEW DELHI BARAKHAMBHA ROAD    0.000185
260                                  City_CHHINDWARA    0.000182
208                                 City_RAJNANDGAON    0.000181
504                                 ASSET_CLASS_Loss    0.000181
472                                INSTALLMENT-AMT_0    0.000180
220                                   City_FIROZABAD    0.000178
218                                    City_BULDHANA    0.000177
273                                     City_SONIPAT    0.000175
285                                       City_NADIA    0.000170
251                                    City_JHUJHUNU    0.000169
444  ACCT-TYPE_Mudra Loans   Shishu / Kishor / Tarun    0.000168
209                                       City_ANAND    0.000167
291                                      City_GANJAM    0.000166
460                             CONTRIBUTOR-TYPE_FRB    0.000165
335                                       City_SEONI    0.000165
98                                     Area_AMRAVATI    0.000164
153                                       City_BARAN    0.000164
312                                      City_SANGLI    0.000164
174                                        City_TONK    0.000163
294                                     City_MATHURA    0.000163
264                                    City_KOLHAPUR    0.000161
263                                City_KANPUR NAGAR    0.000160
474                   INSTALLMENT-AMT_40,000/Monthly    0.000159
256                              City_UTTAR DINAJPUR    0.000158
190                              City_SURENDRA NAGAR    0.000157
201                                     City_BIRBHUM    0.000155
469                           ACCOUNT-STATUS_Settled    0.000155
84                                        Area_LATUR    0.000155
191                                     City_BANKURA    0.000155
238                                   City_JALANDHAR    0.000155
203                                   City_ALLAHABAD    0.000155
476                   INSTALLMENT-AMT_20,000/Monthly    0.000154
194                                   City_RAEBARELI    0.000153
58                                         Area_KOTA    0.000153
286                              City_WEST CHAMPARAN    0.000153
234                                       City_UNNAO    0.000152
210                                        City_MOGA    0.000151
247                                City_YAMUNA NAGAR    0.000151
290                                       City_MEDAK    0.000149
346                            City_DAKSHIN DINAJPUR    0.000147
199                                    City_FATEHPUR    0.000147

In [72]:
IMP[299:399]

                                              features  importance
268                                     City_BURHANPUR    0.000146
182                                   City_MURSHIDABAD    0.000145
267                                     City_ANANTAPUR    0.000145
259                                         City_GADAG    0.000144
445  ACCT-TYPE_Business Non-Funded Credit Facility-...    0.000144
266                                      City_AMRITSAR    0.000144
222                                  City_GANDHI NAGAR    0.000143
244                                      City_BAREILLY    0.000143
280                                        City_ROHTAK    0.000142
214                                         City_SIKAR    0.000142
248                                        City_JHANSI    0.000141
215                                   City_NARSINGHPUR    0.000140
93                                        Area_CUTTACK    0.000140
177                                          City_DURG    0.000137
272                               City_FATEHGARH SAHIB    0.000135
189                                         City_ALWAR    0.000134
257                                      City_KAWARDHA    0.000134
302                                       City_KAITHAL    0.000134
99                                         Area_REWARI    0.000134
100                                         Area_SIWAN    0.000134
219                                       City_BELGAUM    0.000133
303                                       City_HATHRAS    0.000133
196                                        City_HARDOI    0.000132
292                                   City_MUZAFFARPUR    0.000130
473                     INSTALLMENT-AMT_50,000/Monthly    0.000129
289                                         City_KATNI    0.000129
475                     INSTALLMENT-AMT_60,000/Monthly    0.000128
322                                         City_HARDA    0.000127
293                                City_JANJGIR-CHAMPA    0.000126
336                                       City_KATIHAR    0.000125
96                                         Area_JHANSI    0.000125
306                                  City_CHICKMAGALUR    0.000124
180                                      City_MAINPURI    0.000124
343                                City_AMBEDKAR NAGAR    0.000121
283                                     City_OSMANABAD    0.000121
217                                     City_AHMEDABAD    0.000121
89                                       Area_PARBHANI    0.000120
483                     INSTALLMENT-AMT_70,000/Monthly    0.000120
300                                          City_GAYA    0.000119
482                   INSTALLMENT-AMT_3,00,000/Monthly    0.000119
326                                        City_MANDLA    0.000118
370                                  City_CHAMRAJNAGAR    0.000118
274                                    City_KAPURTHALA    0.000117
348                                       City_PHALTAN    0.000117
325                                    City_PRATAPGARH    0.000117
221                                          City_ETAH    0.000116
279                                        City_NAGPUR    0.000115
320                                        City_NAWADA    0.000111
246                                       City_JAUNPUR    0.000111
104                                     Area_MADHUBANI    0.000111
252                                          City_AGRA    0.000109
288                                        City_PATRAN    0.000109
250                                      City_PILIBHIT    0.000107
258                                         City_DHULE    0.000107
287                                      City_AMRAVATI    0.000107
237                                   City_FARRUKHABAD    0.000107
298                                      City_LALITPUR    0.000106
275                                       City_KORAPUT    0.000106
381                                        City_MAHOBA    0.000105
481                     INSTALLMENT-AMT_25,000/Monthly    0.000105
308                                    City_NAWANSHAHR    0.000103
421                                 MATCH-TYPE_PRIMARY    0.000103
316                                        City_HASSAN    0.000102
270                                       City_AURAIYA    0.000101
446      ACCT-TYPE_Business Loan Against Bank Deposits    0.000101
319                                          City_PURI    0.000100
240                                         City_PATNA    0.000099
282                                     City_MORADABAD    0.000098
477                     INSTALLMENT-AMT_30,000/Monthly    0.000097
229                                   City_HANUMANGARH    0.000096
449                  ACCT-TYPE_Business Loan - Secured    0.000095
347                                     City_DARBHANGA    0.000094
318                                        City_BHOPAL    0.000094
284                                       City_LUCKNOW    0.000094
342                                     City_PANCHKULA    0.000092
305                                       City_CUTTACK    0.000091
480                    INSTALLMENT-AMT_1,0,000/Monthly    0.000091
304                                        City_TUMKUR    0.000089
333                                        City_RAMPUR    0.000088
478                     INSTALLMENT-AMT_10,000/Monthly    0.000088
299                                         City_LATUR    0.000086
315                                      City_BHATINDA    0.000086
355                                    City_KISHANGANJ    0.000085
178                                       City_KANNAUJ    0.000085
330                                   City_KURUKSHETRA    0.000085
307                                       City_NALANDA    0.000085
339                                        City_MANDYA    0.000083
311                                      City_MIRZAPUR    0.000083
337                                        City_AMBALA    0.000082
378                                    City_KUSHINAGAR    0.000081
262                                         City_DAUSA    0.000080
313                                      City_FARIDKOT    0.000080
242                                City_SAWAI MADHOPUR    0.000079
297                                    City_GANGANAGAR    0.000079
314                                      City_BALANGIR    0.000079
309                                       City_BARWANI    0.000078
102                                       Area_SAHARSA    0.000077
310                                      City_BHANDARA    0.000077
364                                       City_BURDWAN    0.000076
323                                         City_MANSA    0.000076

In [73]:
IMP[399:499]

                                 features    importance
379                           City_ETAWAH  7.608175e-05
450                  ACCT-TYPE_Individual  7.553009e-05
357                   City_UTTARA KANNADA  7.552123e-05
249                        City_BARABANKI  7.549451e-05
499             INSTALLMENT-FREQUENCY_F02  7.362252e-05
269                           City_NANDED  7.360473e-05
372                        City_GOPALGANJ  7.248127e-05
253                         City_DHAMTARI  7.222855e-05
369                            City_SURAT  7.165728e-05
487        INSTALLMENT-AMT_45,000/Monthly  6.983226e-05
403                          City_BARGARH  6.861202e-05
340                           City_WARDHA  6.828839e-05
105                       Area_CHATTARPUR  6.704209e-05
345                           City_ROHTAS  6.542871e-05
82                           Area_UDAIPUR  6.529912e-05
327                            City_PANNA  6.419632e-05
486        INSTALLMENT-AMT_35,000/Monthly  6.367586e-05
490      INSTALLMENT-AMT_1,20,000/Monthly  6.325161e-05
491        INSTALLMENT-AMT_75,000/Monthly  6.325059e-05
447              ACCT-TYPE_Education Loan  6.244688e-05
353                        City_MADHEPURA  6.174185e-05
405                         City_PURULIYA  5.851149e-05
371                           City_ARARIA  5.795058e-05
334                         City_BATHINDA  5.771441e-05
271                           City_JALAUN  5.704892e-05
103                         Area_FAIZABAD  5.703598e-05
329                            City_JALNA  5.703537e-05
479        INSTALLMENT-AMT_80,000/Monthly  5.641090e-05
107                   Area_TADEPALLIGUDEM  5.584867e-05
373                            City_SARAN  5.579001e-05
358                        City_BHAGALPUR  5.472168e-05
317                         City_BAHRAICH  5.411573e-05
356                         City_PARBHANI  5.358198e-05
360                            City_BIDAR  5.249633e-05
380                          City_BHARUCH  5.248113e-05
391                       City_SAMASTIPUR  5.243534e-05
331                         City_YAVATMAL  5.210898e-05
354                            City_ROPAR  5.116398e-05
393                           City_SUPAUL  5.069765e-05
448  ACCT-TYPE_Non-Funded Credit Facility  5.053280e-05
296                          City_DHARWAD  4.938684e-05
243                         City_BHILWARA  4.859051e-05
451     ACCT-TYPE_Business Loan Unsecured  4.840732e-05
395                        City_SITAMARHI  4.791923e-05
324                          City_SURGUJA  4.756188e-05
492        INSTALLMENT-AMT_65,000/Monthly  4.700103e-05
366                          City_HUNSAGI  4.401845e-05
349                   City_JAGATSINGHAPUR  4.323899e-05
108                     Area_MEHBOOBNAGAR  4.185202e-05
332                          City_MUKTSAR  4.109869e-05
397                       City_RANGAREDDI  4.095091e-05
363                            City_KOLAR  3.902336e-05
101                         Area_SILIGURI  3.805131e-05
383                            City_BASTI  3.725461e-05
402                           City_MOHALI  3.693007e-05
376                        City_MADHUBANI  3.680126e-05
488      INSTALLMENT-AMT_2,00,000/Monthly  3.495670e-05
505                         ASSET_CLASS_1  3.412758e-05
365                        City_GORAKHPUR  3.372237e-05
377                           City_KHORDA  3.250481e-05
394                          City_PANIPAT  3.219471e-05
338                            City_AKOLA  3.094526e-05
495        INSTALLMENT-AMT_55,000/Monthly  3.072550e-05
351                          City_HINGOLI  3.055563e-05
382                          City_BHADRAK  3.041101e-05
359                        City_FARIDABAD  2.963849e-05
321                         City_VAISHALI  2.940378e-05
389                           City_REWARI  2.870288e-05
493         INSTALLMENT-AMT_5,000/Monthly  2.821823e-05
484        INSTALLMENT-AMT_90,000/Monthly  2.763239e-05
485      INSTALLMENT-AMT_1,50,000/Monthly  2.761493e-05
489            INSTALLMENT-AMT_100/Weekly  2.688868e-05
385                       City_KOTHAGUDEM  2.647778e-05
399                           City_DEORIA  2.484456e-05
375                            City_SIWAN  2.409587e-05
374                           City_AMRELI  2.235335e-05
396                         City_PIPARIYA  2.204446e-05
388                        City_SHRAWASTI  2.168513e-05
400                          City_BHOJPUR  2.163822e-05
404                          City_JASHPUR  2.139814e-05
361                           City_KARNAL  2.120884e-05
384                           City_WASHIM  1.857077e-05
420                     State_UTTARAKHAND  1.784028e-05
344                        City_KAUSHAMBI  1.780880e-05
233                City_UDHAM SINGH NAGAR  1.747940e-05
106                          Area_SHAHDOL  1.633224e-05
328                           City_KANPUR  1.618616e-05
392                           City_KANKER  1.537160e-05
494        INSTALLMENT-AMT_95,000/Monthly  1.458601e-05
352                           City_GONDIA  1.376804e-05
239                      City_CHITTORGARH  1.146020e-05
390                          City_SAVANUR  1.054678e-05
401                  City_BANGALORE RURAL  9.845345e-06
295                             City_GUNA  8.600748e-06
398                         City_THANESAR  6.688830e-06
187                            City_BUNDI  5.949333e-06
386                         City_BEMETARA  4.343414e-06
278                             City_BEED  2.871952e-07
159                             City_KOTA  8.937483e-08
205                         City_JHALAWAR  0.000000e+00

In [74]:
IMP[499:599]

            features  importance
367  City_KENDRAPARA         0.0
387        City_BINA         0.0
350    City_NAINITAL         0.0
362  City_MIRYALGUDA         0.0
341     City_UDAIPUR         0.0
87     Area_DEHRADUN         0.0
368     City_JAJAPUR         0.0

In [75]:
l_all.shape

(143400, 508)

######################################################

In [76]:
l_all.drop(['City_JAJAPUR'],axis=1,inplace=True)

In [77]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [78]:
l_all.drop(['City_UDAIPUR'],axis=1,inplace=True)

In [79]:
l_all.drop(['City_MIRYALGUDA'],axis=1,inplace=True)

In [80]:
l_all.drop(['City_BINA'],axis=1,inplace=True)

In [81]:
l_all.drop(['City_KENDRAPARA'],axis=1,inplace=True)

In [83]:
l_all.drop(['City_JHALAWAR'],axis=1,inplace=True)

In [84]:
l_all.drop(['City_KOTA'],axis=1,inplace=True)

In [85]:
l_all.drop(['City_BEED'],axis=1,inplace=True)

In [86]:
l_all.drop(['City_BEMETARA'],axis=1,inplace=True)

In [88]:
l_all.drop(['City_THANESAR'],axis=1,inplace=True)

In [89]:
l_all.drop(['City_GUNA'],axis=1,inplace=True)

In [90]:
l_all.drop(['City_BANGALORE RURAL'],axis=1,inplace=True)

In [91]:
l_all.drop(['City_SAVANUR'],axis=1,inplace=True)

In [92]:
l_all.drop(['City_CHITTORGARH'],axis=1,inplace=True)

In [93]:
l_all.drop(['City_GONDIA'],axis=1,inplace=True)

In [94]:
l_all.drop(['INSTALLMENT-AMT_95,000/Monthly'],axis=1,inplace=True)

In [96]:
l_all.drop(['City_KANKER'],axis=1,inplace=True)

In [97]:
l_all.drop(['City_KANPUR'],axis=1,inplace=True)

In [98]:
l_all.drop(['Area_SHAHDOL'],axis=1,inplace=True)

In [99]:
l_all.drop(['City_UDHAM SINGH NAGAR'],axis=1,inplace=True)

In [100]:
l_all.drop(['City_KAUSHAMBI'],axis=1,inplace=True)

In [101]:
l_all.drop(['State_UTTARAKHAND'],axis=1,inplace=True)

In [102]:
l_all.drop(['City_WASHIM'],axis=1,inplace=True)

In [103]:
l_all.drop(['City_KARNAL'],axis=1,inplace=True)

In [104]:
l_all.drop(['City_JASHPUR'],axis=1,inplace=True)

In [105]:
l_all.drop(['City_BHOJPUR'],axis=1,inplace=True)

In [106]:
l_all.drop(['City_SHRAWASTI'],axis=1,inplace=True)

In [108]:
IMP[399:499]

                                 features    importance
379                           City_ETAWAH  7.608175e-05
450                  ACCT-TYPE_Individual  7.553009e-05
357                   City_UTTARA KANNADA  7.552123e-05
249                        City_BARABANKI  7.549451e-05
499             INSTALLMENT-FREQUENCY_F02  7.362252e-05
269                           City_NANDED  7.360473e-05
372                        City_GOPALGANJ  7.248127e-05
253                         City_DHAMTARI  7.222855e-05
369                            City_SURAT  7.165728e-05
487        INSTALLMENT-AMT_45,000/Monthly  6.983226e-05
403                          City_BARGARH  6.861202e-05
340                           City_WARDHA  6.828839e-05
105                       Area_CHATTARPUR  6.704209e-05
345                           City_ROHTAS  6.542871e-05
82                           Area_UDAIPUR  6.529912e-05
327                            City_PANNA  6.419632e-05
486        INSTALLMENT-AMT_35,000/Monthly  6.367586e-05
490      INSTALLMENT-AMT_1,20,000/Monthly  6.325161e-05
491        INSTALLMENT-AMT_75,000/Monthly  6.325059e-05
447              ACCT-TYPE_Education Loan  6.244688e-05
353                        City_MADHEPURA  6.174185e-05
405                         City_PURULIYA  5.851149e-05
371                           City_ARARIA  5.795058e-05
334                         City_BATHINDA  5.771441e-05
271                           City_JALAUN  5.704892e-05
103                         Area_FAIZABAD  5.703598e-05
329                            City_JALNA  5.703537e-05
479        INSTALLMENT-AMT_80,000/Monthly  5.641090e-05
107                   Area_TADEPALLIGUDEM  5.584867e-05
373                            City_SARAN  5.579001e-05
358                        City_BHAGALPUR  5.472168e-05
317                         City_BAHRAICH  5.411573e-05
356                         City_PARBHANI  5.358198e-05
360                            City_BIDAR  5.249633e-05
380                          City_BHARUCH  5.248113e-05
391                       City_SAMASTIPUR  5.243534e-05
331                         City_YAVATMAL  5.210898e-05
354                            City_ROPAR  5.116398e-05
393                           City_SUPAUL  5.069765e-05
448  ACCT-TYPE_Non-Funded Credit Facility  5.053280e-05
296                          City_DHARWAD  4.938684e-05
243                         City_BHILWARA  4.859051e-05
451     ACCT-TYPE_Business Loan Unsecured  4.840732e-05
395                        City_SITAMARHI  4.791923e-05
324                          City_SURGUJA  4.756188e-05
492        INSTALLMENT-AMT_65,000/Monthly  4.700103e-05
366                          City_HUNSAGI  4.401845e-05
349                   City_JAGATSINGHAPUR  4.323899e-05
108                     Area_MEHBOOBNAGAR  4.185202e-05
332                          City_MUKTSAR  4.109869e-05
397                       City_RANGAREDDI  4.095091e-05
363                            City_KOLAR  3.902336e-05
101                         Area_SILIGURI  3.805131e-05
383                            City_BASTI  3.725461e-05
402                           City_MOHALI  3.693007e-05
376                        City_MADHUBANI  3.680126e-05
488      INSTALLMENT-AMT_2,00,000/Monthly  3.495670e-05
505                         ASSET_CLASS_1  3.412758e-05
365                        City_GORAKHPUR  3.372237e-05
377                           City_KHORDA  3.250481e-05
394                          City_PANIPAT  3.219471e-05
338                            City_AKOLA  3.094526e-05
495        INSTALLMENT-AMT_55,000/Monthly  3.072550e-05
351                          City_HINGOLI  3.055563e-05
382                          City_BHADRAK  3.041101e-05
359                        City_FARIDABAD  2.963849e-05
321                         City_VAISHALI  2.940378e-05
389                           City_REWARI  2.870288e-05
493         INSTALLMENT-AMT_5,000/Monthly  2.821823e-05
484        INSTALLMENT-AMT_90,000/Monthly  2.763239e-05
485      INSTALLMENT-AMT_1,50,000/Monthly  2.761493e-05
489            INSTALLMENT-AMT_100/Weekly  2.688868e-05
385                       City_KOTHAGUDEM  2.647778e-05
399                           City_DEORIA  2.484456e-05
375                            City_SIWAN  2.409587e-05
374                           City_AMRELI  2.235335e-05
396                         City_PIPARIYA  2.204446e-05
388                        City_SHRAWASTI  2.168513e-05
400                          City_BHOJPUR  2.163822e-05
404                          City_JASHPUR  2.139814e-05
361                           City_KARNAL  2.120884e-05
384                           City_WASHIM  1.857077e-05
420                     State_UTTARAKHAND  1.784028e-05
344                        City_KAUSHAMBI  1.780880e-05
233                City_UDHAM SINGH NAGAR  1.747940e-05
106                          Area_SHAHDOL  1.633224e-05
328                           City_KANPUR  1.618616e-05
392                           City_KANKER  1.537160e-05
494        INSTALLMENT-AMT_95,000/Monthly  1.458601e-05
352                           City_GONDIA  1.376804e-05
239                      City_CHITTORGARH  1.146020e-05
390                          City_SAVANUR  1.054678e-05
401                  City_BANGALORE RURAL  9.845345e-06
295                             City_GUNA  8.600748e-06
398                         City_THANESAR  6.688830e-06
187                            City_BUNDI  5.949333e-06
386                         City_BEMETARA  4.343414e-06
278                             City_BEED  2.871952e-07
159                             City_KOTA  8.937483e-08
205                         City_JHALAWAR  0.000000e+00

In [107]:
l_all.drop(['City_PIPARIYA'],axis=1,inplace=True)

In [109]:
l_all.drop(['City_AMRELI'],axis=1,inplace=True)

In [110]:
l_all.drop(['City_SIWAN'],axis=1,inplace=True)

In [111]:
l_all.drop(['City_DEORIA'],axis=1,inplace=True)

In [112]:
l_all.drop(['City_KOTHAGUDEM'],axis=1,inplace=True)

In [113]:
l_all.drop(['INSTALLMENT-AMT_100/Weekly'],axis=1,inplace=True)

In [114]:
l_all.drop(['INSTALLMENT-AMT_1,50,000/Monthly'],axis=1,inplace=True)

In [115]:
l_all.drop(['INSTALLMENT-AMT_90,000/Monthly'],axis=1,inplace=True)

In [116]:
l_all.drop(['INSTALLMENT-AMT_5,000/Monthly'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)

In [ ]:
l_all.drop(['Area_DEHRADUN'],axis=1,inplace=True)